#img-circular-left{
 margin-top: 0px;
 float: left;
 display: inline-block;
 margin-left: 30px;
 margin-right: 10px;
 width: 150px;
 height: 150px;
 border-radius: 150px;
 -webkit-border-radius: 150px;
 -moz-border-radius: 150px;
}

#person-txt-left{
  margin-top: 0px;
  font-size: 18px;
  float: left;
  text-align: left;
  display: inline;
}

#img-circular-right{
 margin-top: 50px;
 float: right;
 display: inline-block;
 margin-right: 30px;
 margin-left: 10px;
 width: 150px;
 height: 150px;
 border-radius: 150px;
 -webkit-border-radius: 150px;
 -moz-border-radius: 150px;
}

#person-txt-right{
  margin-top: 50px;
  font-size: 18px;
  float: right;
  text-align: right;
  display: inline;
}
