h2 {
  margin-top: 0;
}

.img-circular {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.left-image {
  margin-top: 0px;
  float: left;
  margin-left: 30px;
  margin-right: 10px;
}

.right-image {
  margin-top: 50px;
  float: right;
  margin-right: 30px;
  margin-left: 10px;
}

.person-txt {
  font-size: 18px;
  display: flex;
  align-items: center;
  height: 150px;
}

.left-txt {
  margin-top: 0px;
  float: left;
  text-align: left;
}

.right-txt {
  margin-top: 50px;
  float: right;
  text-align: right;
}

.name {
  font-weight: bold;
}
