input[type="text"] {
  box-sizing: border-box;
  width: 150px;
  height: 2em;
  padding: 1em;
  border: 1px solid #cccccc;
  background: #fff;
  resize: none;
  outline: none;
}
input[type="text"][required]:focus {
  border-color: #91B3C6;
}
input[type="text"][required]:focus + label[placeholder]:before {
  color: #91B3C6;
}
input[type="text"][required]:focus + label[placeholder]:before,
input[type="text"][required]:valid + label[placeholder]:before {
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transform: translate(-3em, -0.3em) scale(0.9, 0.9);
          transform: translate(-3em, -0.3em) scale(0.9, 0.9);
}
input[type="text"][required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
input[type="text"][required] + label[placeholder] {
  pointer-events: none;
  line-height: 1.25em;
  margin-top: 0em;
  margin-bottom: 0em;
}
input[type="text"][required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0px;
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  
}
