html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dedede;
  color: #35586e;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

nav {
  background-color: #123952;
  color: #dedede;
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  margin: auto;
  top: 0px;
  vertical-align: middle;
  width: 100%;
}

nav a, nav a:visited {
  color: #dedede;
}

nav ul {
  list-style-type: none;
  margin: auto;
  text-align: center;
}

nav li {
  display: inline;
  height: 50px;
  margin: 0 10px;
  vertical-align: middle;
}

#wrapper {
  margin: auto;
  width: 1046px;
}

#main {
  background-color: #ffffff;
  border: 3px solid #d7d7d7;
  margin: auto;
  padding: 20px;
  text-align: left;
  width: 1000px;
}

h1 {
  margin-top: 0px;
}

h1.preview {
  margin-top: 16px;
}

h2 {
  font-size: 20px;
}

a, a:visited {
  color: #35586e;
  text-decoration: none;
}

nav a.unique, nav a.unique:visited {
  color: #ffb938;
}

input, select, textarea {
  background-color: #f8f8f8;
  border: 2px solid #d7d7d7;
  color: #35586e;
}

input {
  width: 200px;
}

input.submit {
  border-color: #123952;
  border-radius: 3px;
  margin-top: 5px;
  width: auto;
}

input.shorter {
  width: 196px;
}

select {
  width: 200px;
}

textarea {
  height: 250px;
  margin-top: 5px;
  width: 993px;
}

th, td {
  padding: 5px;
}

td {
  text-align: center;
}

.delete-box {
  color: red;
  float: right;
}

div.modification-container {
  display: inline;
  float: left;
  padding: 10px;
  width: 480px;
}

.difference-original {
  color: #aa0000;
}

.difference-modified {
  color: #00aa00;
}

input.ordernumber {
  width: 40px;
}

p a, p a:visited {
  color: #EE7600;
}

table, td {
  text-align: left;
}

.form-element:valid {
  background-color: #f0fff0;
}

.form-element:invalid {
  background-color: #fff0f0;
}

span.top-notice {
  -moz-animation: fadein 3s;
  -ms-animation: fadein 3s;
  -o-animation: fadein 3s;
  -webkit-animation: fadein 3s;
  animation: fadein 3s;
  color: #123952;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 1000px;
}

span.success {
  border: 2px solid #009900;
  background-color: #f0fff0;
}

span.success:before {
  content: url('/img/check_mark.png');
  margin-right: 10px;
}

span.error {
  border: 2px solid #990000;
  background-color: #fff0f0;
}

span.error:before {
  content: url('/img/x_mark.png');
  margin-right: 10px;
}

span.notice {
  border: 2px solid #ffb938;
  background-color: #FFF5C8;
}

span.notice:before {
  content: url('/img/exclamation_mark.png');
  margin-right: 10px;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

input.shorter {
  width: 196px;
}

td {
  padding: 0px 10px 0px 0px;
  vertical-align: middle;
}

table {
  margin-bottom: 10px;
}

button.edit-button {
  background-color: #f8f8f8;
  border: 2px solid #d7d7d7;
  color: #35586e;
  margin: 5px 0;
  padding: 5px;
}

img {
  max-width: 1000px;
  display: block;
  margin: auto;
}

#rightside-buttons {
  float: right;
}

#note-help {
  background-color: #f8f8f8;
  border: 2px solid #d7d7d7;
  color: #35586e;
  padding: 10px;
}

#note-help h3 {
  margin: 10px auto;
}
