.event-column {
  float: left;
  margin: 0px 51px;
  width: 230px;
}

h2 {
  border-bottom: 1px solid #dedede;
  margin: 0px auto;
}

.event-container {
  margin-top: 16px;
}

.event-container h4 {
  margin: 0px;
}

.progress-container {
  background-color: #ffb938;
  height: 5px;
  margin: 5px 0px;
  padding: 0px;
  width: 100%;
}

hr.progress-meter {
  background-color: #35586e;
  height: 5px;
  margin: 0px;
}
