html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dedede;
  color: #35586E;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

nav {
  margin: auto;
  height: 50px;
  line-height: 50px;
  background-color: #123952;
  font-size: 24px;
  vertical-align: middle;
  color: #dedede;
  width: 100%;
  position: fixed;
  top: 0px;
}

nav a, nav a:visited {
  color: #dedede;
}

nav ul {
  display: inline;
  list-style-type: none;
  text-align: center;
  margin: auto;
  margin-left: 124px;
  padding-right: 120px;
}

nav li {
  display: inline;
  height: 50px;
  vertical-align: middle;
  margin: 0 10px;
}

#search_form {
  display: inline;

}

#search_form input {
  height: 15px;
  width: 103px;
  background-repeat: no-repeat;
  color: #dedede;
  background-image: url('/img/search_form_background.png');
  position: fixed;
  margin-top: 17px;
  padding: 0px;
  padding-left: 17px;
  border-color: #688292;
}

#wrapper {
  width: 1046px;
  margin: auto;
  margin-top: 50px;
}

#location {
  width: 866px;
  height: 30px;
  margin: 10px auto;
  text-align: left;
  display: inline;
  float: left;
  padding-left: 20px;
  vertical-align: middle;
  line-height: 30px;
}

#upload_button {
  width: 140px;
  margin: 10px auto;
  padding-right: 20px;
  height: 30px;
  display: inline;
  float: left;
  vertical-align: middle;
  line-height: 30px;
}

#main {
  background-color: #fff;
  text-align: left;
  margin: auto;
  width: 1000px;
  border: 3px solid #d7d7d7;
  padding: 20px;
}

h1 {
  margin-top: 0px;
}

h2 {
  font-size: 20px;
}

a, a:visited {
  color: #35586E;
  text-decoration: none;
}

nav a.unique, nav a.unique:visited {
  color: #ffb938;
}

.unique {
  color: #ffb938;
}

footer {
  margin-top: 10px;
  margin-bottom: 10px;
}

blockquote {
  border: 3px solid #d7d7d7;
  margin: 0;
  padding: 6.5px;
  background-color: #f0f0f0;
}

blockquote p {
  margin: 0px;
}

input, select, textarea {
  border: 2px solid #d7d7d7;
  background-color: #f8f8f8;
  color: #35586E;
}

input {
  width: 200px;
}

input.submit {
  width: auto;
  margin-top: 5px;
  border-color: #123952;
  border-radius: 3px;
}

select {
  width: 200px;
}

textarea {
  margin-top: 5px;
  height: 250px;
  width: 993px;
}

.article-meta {
  font-size: 0.7em;
  color: #8090aa;
  margin: 16px auto;
}

img {
  max-width: 100%;
}

hr {
  border-color: #dedede;
  background-color: #dedede;
  height: 1px;
  border-width: 0px;
  width: 98%;
  margin: 16px auto;
}
