html, body {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background-color: #765F82;
  color: #ffffff;
}

::-moz-selection {
  background-color: #765F82;
  color: #ffffff;
}

.container {
  background-color: #EAE9EB;
  color: #424242;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  text-align: center;
}

#fixed-bar {
  background-color: #5C4568;
  color: #ffffff;
  height: 50px;
  line-height: 50px;
  opacity: 0.9;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}

#menu-wrapper {
  display: inline-block;
}

nav {
  position: relative;
  font-size: 1.5em;
  width: 1000px;
  margin: auto;
}

nav a, nav a:visited {
  color: #ffffff;
}

nav ul a:hover {
  background-color: #91B3C6;
}

#logo {
  display: inline-block;
  background-image: url('/img/logo.png');
  background-size: contain;
  width: 50px;
  height: 50px;
  vertical-align: top;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
}

nav ul a {
  display: inline-block;
  padding: 0 10px;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li:hover {
  background-color: #91B3C6;
}

nav ul li:hover ul {
  display: block;
  top: 50px;
}

nav ul li ul {
  display: none;
  font-size: 0.7em;
  left: 0;
  margin-left: 0;
  padding: 0px;
  position: absolute;
  text-align: left;
  top: 50px;
  width: 100%;
}

nav ul li ul li {
  float: left;
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
}

nav ul li ul li a {
  background-color: #5C4568;
  width: 100%;
}

#mobile-icons {
  display: none;
}

#search {
  display: inline-block;
}

#searchbox {
  background-color: rgba(255, 255, 255, 0.2);;
  background-image: url('/img/search-background.png');
  background-repeat: no-repeat;
  border: 0px;
  color: #fff;
  height: 20px;
  margin: 15px 0;
  padding: 0px 0px 0px 20px;
  width: 110px;
}

#dropdown-toggle {
  display: none;
}

#more-mobile-icons {
  display: none;
}

#wrapper {
  margin: 50px auto auto auto;
  width: 1000px;
}

#location {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 10px 0px;
  padding-left: 20px;
  text-align: left;
  vertical-align: middle;
  width: 780px;
}

#desktop-buttons {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 10px 0px;
  padding-right: 20px;
  vertical-align: middle;
  width: 220px;
}

#desktop-buttons img {
  padding: 0 5px;
  width: 40px;
}

#main {
  background-color: #ffffff;
  border: 1px solid #d7d7d7;
  margin: auto;
  padding: 19px;
  text-align: left;
  width: 1000px;
}

#main ul {
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed';
}

h1 {
  font-size: 2em;
  margin-top: 0px;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

a, a:visited {
  color: #424141;
  text-decoration: none;
}

a:focus {
  outline: none;
}

nav a.unique, nav a.unique:visited {
  color: #ffffff;
}

.unique {
  color: #5C4568;
}

footer {
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
  text-align: justify;
}

#main ul, #main ol {
  font-family: 'Roboto', sans-serif;
}

#main ul a, #main ul a:visited {
  background-color: #91B3C6;
  color: #fff;
  padding: 1px 3px 1px 3px;
}

#main ol a, #main ol a:visited {
  background-color: #91B3C6;
  color: #fff;
  padding: 1px 3px 1px 3px;
}

p a, p a:visited {
  background-color: #91B3C6;
  color: #fff;
  padding: 1px 3px 1px 3px;
}

blockquote {
  background-color: #f0f0f0;
  border-width: 0px;
  margin: 0;
  padding: 10px;
}

blockquote p {
  margin: 0px;
}
/*
input, select, textarea {
  background-color: #F6E4FF;
  border: 2px solid #5C4568;
  color: #5C4568;
  outline: none;
  margin: 2px auto;
}

::-webkit-input-placeholder {
  color: #A9A1A1;
}

:-moz-placeholder {
  color: #A9A1A1;
}

::-moz-placeholder {
  color: #A9A1A1;
}

:-ms-input-placeholder {
  color: #A9A1A1;
}

input, select {
  width: 200px;
}

input.submit {
  border-color: ##d7d7d7;
  border-radius: 3px;
  margin-top: 5px;
  width: auto;
}
*/
textarea {
  height: 250px;
  margin-top: 5px;
  width: 960px;
}

.article-meta {
  color: #8090aa;
  font-size: 0.7em;
  margin: 16px auto;
}

.img-wrapper {
  text-align: center;
}

img {
  max-width: 100%;
}

hr {
  background-color: #dedede;
  border-color: #dedede;
  border-width: 0px;
  height: 1px;
  margin: 16px auto;
  width: 98%;
}

.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

.horizontal-ad {
  margin: 10px auto;
  width: auto;
}

.vertical-ad {
  margin: auto;
  text-align: center;
}

.top-notice {
  -moz-animation: fadein 3s;
  -ms-animation: fadein 3s;
  -o-animation: fadein 3s;
  -webkit-animation: fadein 3s;
  animation: from { opacity: 0; } to { opacity: 1; } 3s;
  color: #123952;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 1000px;
}

.success {
  background-color: #f0fff0;
  border: 2px solid #009900;
}

.success:before {
  content: url('/img/check-mark.png');
  margin-right: 10px;
}

.error {
  background-color: #fff0f0;
  border: 2px solid #990000;
}

.error:before {
  content: url('/img/x-mark.png');
  margin-right: 10px;
}

.notice {
  background-color: #FFF5C8;
  border: 2px solid #ffb938;
}

.notice:before {
  content: url('/img/exclamation-mark.png');
  margin-right: 10px;
}

@keyframes fadein {
  from { opacity: 0; } to { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

#go-top-desktop {
  align-items: center;
  background-color: #5C4568;
  background-image: url('/img/page-up.png');
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 50px;
  color: #ffffff;
  display: none;
  height: 35px;
  line-height: 35px;
  padding-left: 35px;
  position: fixed;
  right: 0px;
  width: 150px;
}
