html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dedede;
  color: #35586E;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

nav {
  margin: auto;
  height: 50px;
  background-color: #123952;
  font-size: 24px;
  vertical-align: middle;
  color: #dedede;
  border-bottom: 3px solid #d7d7d7;
}

nav a, nav a:visited {
  color: #dedede;
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: auto;
}

nav li {
  display: inline;
  height: 50px;
  vertical-align: middle;
  margin: 0 10px;
}

iframe {
  background-color: transparent;
  border-width: 0;
  height: 30px;
  overflow: hidden;
  margin: 10px auto;
}

#wrapper {
  width: 1046px;
  margin: auto;
}

#location {
  width: 866px;
  height: 30px;
  margin: 10px auto;
  text-align: left;
  display: inline;
  float: left;
  padding-left: 20px;
  vertical-align: middle;
  line-height: 30px;
}

#upload_button {
  width: 140px;
  margin: 10px auto;
  padding-right: 20px;
  height: 30px;
  display: inline;
  float: left;
  vertical-align: middle;
  line-height: 30px;
}

#main {
  background-color: #fff;
  text-align: left;
  margin: auto;
  width: 1000px;
  border: 3px solid #d7d7d7;
  padding: 20px;
}

h1 {
  margin-top: 0px;
}

h2 {
  font-size: 20px;
}

a, a:visited {
  color: #35586E;
  text-decoration: none;
}

nav a.unique, nav a.unique:visited {
  color: #ffb938;
}

.unique {
  color: #ffb938;
}

footer{
  margin-top: 10px;
  margin-bottom: 10px;
}