div.modification textarea {
  width: 490px;
  height: 600px;
}

div.modification {
  display: inline;
  float: left;
}

#modification-title {
  display: inline;
  width: auto;
}

div.modification-container {
  display: inline;
  float: left;
  width: 480px;
  padding: 10px;
}

p {
  text-align: justify;
}

span.difference-original {
  color: #AA0000;
}

span.difference-modified {
  color: #00AA00;
}
