div.modification textarea {
  height: 600px;
  width: 490px;
}

div.modification {
  display: inline;
  float: left;
}

#modification-title {
  display: inline;
  width: auto;
}

#modification-status {
  height: 20px;
}

div.modification-container {
  display: inline;
  float: left;
  padding: 10px;
  width: 480px;
}

p {
  text-align: justify;
}

.difference-original {
  color: #aa0000;
}

.difference-modified {
  color: #00aa00;
}
