div.modification textarea {
  height: 600px;
  width: 480px;
}

div.modification {
  display: inline-block;
}

#modification-title::before {
  margin-right: 5px;
}

#modification-title {
  width: auto;
  margin: 0;
}

#modification-status {
  height: 20px;
}

div.modification-container {
  display: inline-block;
  padding: 10px;
  width: 480px;
}

.difference-original {
  color: #aa0000;
}

.difference-modified {
  color: #00aa00;
}
