#leftside {
  border-right: 1px solid #dedede;
  display: inline-block;
  padding-right: 10px;
  vertical-align: top;
  width: 711px;
}

h2 {
  margin-top: 0;
}

.article-meta {
  margin-bottom: 24px;
}

#news-pages {
  font-size: 1.3em;
  padding: 10px;
  text-align: center;
}

#rightside {
  border-left: 1px solid #dedede;
  display: inline-block;
  margin-left: -1px;
  padding-left: 10px;
  vertical-align: top;
  width: 250px;
}

#events-container, #notes-container {
  border-bottom: 1px solid #dedede;
}

#notes-container, .fb-page {
  margin-top: 12px;
}

#rightside h6 {
  margin: 0;
}

#notes-container .article-meta {
  margin: 4px 0px 12px 0px;
}

#notes-container .article-meta a, #notes-container .article-meta a:visited {
  background-color: #91B3C6;
  color: #fff;
  padding: 1px 3px 1px 3px;
}
