#leftside {
  float: left;
  display: inline;
  width: 790px;
  padding-right: 10px;
}

#rightside {
  float: left;
  display: inline;
  width: 180px;
  background-color: #111111;
  padding: 8px;
  border: 2px solid #123952;
}

iframe {
  background-color: transparent;
  border-width: 0;
  height: 60px;
  width: 180px;
  overflow: hidden;
  margin: 10px auto;
}
