#leftside {
  float: left;
  display: inline;
  width: 740px;
  padding-right: 10px;
  border-right: 2px solid #dedede;
}

#rightside {
  float: left;
  display: inline;
  width: 230px;
  padding: 9px;
}

iframe {
  background-color: transparent;
  border-width: 0;
  width: 230px;
  overflow: hidden;
  margin: 10px auto;
}
