code {
  border: 3px solid #d7d7d7;
}

img {
  max-width: 100%;
}

em {
  color: #15384E;
  font-weight: bold;
  font-style: normal;
}

p {
  text-align: justify;
/*  text-indent: 20px;*/
}

#add_note_form textarea {
  height: 250px;
  width: 993px;
}

input, select, textarea {
  border: 2px solid #d7d7d7;
  background-color: #f8f8f8;
  color: #35586E;
}

input {
  width: 194px;
}

input.submit {
  width: auto;
}

select {
  width: 200px;
}

td {
  padding: 0px;
  padding-right: 10px;
  vertical-align: middle;
}

table {
  margin-bottom: 10px;
}

button.edit-button {
  border: 2px solid #d7d7d7;
  background-color: #f8f8f8;
  color: #35586E;
  padding: 5px;
  margin: 5px 0;
}
