#leftside {
  border-right: 1px solid #dedede;
  display: inline-block;
  padding-right: 10px;
  vertical-align: top;
  width: 781px;
}

#leftside h1 {
  display: inline;
}

code {
  border: 3px solid #d7d7d7;
}

em {
  color: #303030;
  font-style: normal;
  font-weight: bold;
}

p {
  text-indent: 10px;
}

#main .img-wrapper > a, #main .img-wrapper > a:visited {
  padding: 0;
  background-color: transparent;
}

table {
  background-color: #f8f8f8;
  border-spacing: 0;
  border: 2px solid #d7d7d7;
  empty-cells: hide;
  margin: auto;
}

th, td {
  border: 1px solid #d7d7d7;
  padding: 5px;
}

th:empty {
  border-width: 0;
  height: 0;
  padding: 0;
}

.latex-container[data-displaymode="block"] > * {
  overflow-y: hidden;
}

.latex-container {
  text-indent: 0;
}

#leftside img {
  display: inline-block;
  margin: auto;
}

#modifications ul {
  list-style-position: inside;
  padding: 0;
}

li p {
  text-indent: 0px;
  margin: 0px;
}

#footnotes {
  color: #8090aa;
  font-size: 0.7em;
  margin: 26px auto 0 auto;
}

#footnotes p {
  margin: 2px 0 0 0;
  padding: 0;
  text-indent: 0;
}

#rightside {
  border-left: 1px solid #dedede;
  display: inline-block;
  margin-left: -1px;
  padding-left: 10px;
  width: 180px;
  vertical-align: top;
}

#rightside h2 {
  margin-top: 0;
}

#rightside p {
  text-indent: 0;
  margin-top: 0;
}

#collection, #modifications {
  border-bottom: 1px solid #dedede;
}

#modifications li a, #modifications li a:visited {
  color: #424141;
  padding: 0;
  background-color: inherit;;
  font-family: 'Roboto Condensed', sans-serif;
}

#modifications, .vertical-ad {
  margin-top: 12px;
}

#collection-form {
  display: inline;
  line-height: 2em;
}

#learned-form {
  margin-left: 10px;
  display: inline;
  font-size: 1.3em;
}

#learned-form input {
  width: 1.3em;
  height: 1.3em;
}

.collection-add {
  background: url('/img/collection-empty.png') no-repeat;
}

.collection-remove {
  background: url('/img/collection-full.png') no-repeat;
}

.collection-button {
  display: inline;
  width: 2em;
  height: 2em;
  cursor: pointer;
  background-size: contain;
  border: none;
}

li.status-0 {
  list-style-image: url('/img/question-mark.png');
  list-style-position: outside;
}

li.status-1 {
  list-style-image: url('/img/check-mark.png');
}

li.status-2 {
  list-style-image: url('/img/x-mark.png');
}

li.add-modification {
  list-style-image: url('/img/plus-sign.png');
}
