#note-footnotes {
  height: 2em;
}

h1.preview {
  display: inline;
}

#hide-preview {
  float: right;
  display: none;
}

div.g-recaptcha {
  margin: 10px auto;
}

button.edit-button {
  background-color: #f8f8f8;
  border: 2px solid #d7d7d7;
  color: #35586e;
  margin: 5px -2px 5px 0;
  padding: 5px;
}

#rightside-buttons {
  float: right;
}

#rightside-buttons button.edit-button {
  margin: 5px 0 5px -2px;
}

#note-help {
  background-color: #f8f8f8;
  border: 2px solid #d7d7d7;
  color: #35586e;
  padding: 10px;
}

#note-help h3 {
  margin: 10px auto;
}

h1.preview {
  margin-top: 16px;
}

#preview-target ul {
  font-family: 'Roboto', sans-serif;
}

#preview-target ol {
  font-family: 'Roboto', sans-serif;
}

#preview-target ul a, #preview-target ul a:visited {
  color: #ee7600;
}

#preview-target ol a, #preview-target ol a:visited {
  color: #ee7600;
}

/*
Source: https://github.com/tobiasahlin/SpinKit/
*/

.spinner {
  margin: 10px;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #35586e;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
