code {
  border: 3px solid #d7d7d7;
}

em {
  color: #15384e;
  font-style: normal;
  font-weight: bold;
}

p {
  line-height: 1.5;
  text-align: justify;
  text-indent: 20px;
}

input.shorter {
  width: 196px;
}

td {
  padding: 0px 10px 0px 0px;
  vertical-align: middle;
}

table {
  margin-bottom: 10px;
}

button.edit-button {
  background-color: #f8f8f8;
  border: 2px solid #d7d7d7;
  color: #35586e;
  margin: 5px 0;
  padding: 5px;
}

#leftside {
  border-right: 2px solid #dedede;
  display: inline;
  float: left;
  padding-right: 10px;
  width: 788px;
}

#rightside {
  display: inline;
  float: left;
  padding: 0px 10px 10px 10px;
  width: 180px;
}

#notes-help {
  float: right;
}

#note-help {
  background-color: #f8f8f8;
  border: 2px solid #d7d7d7;
  color: #35586e;
  padding: 10px;
}

li.status_0 {
  list-style-image: url("/img/question_mark.png");
  list-style-position: outside;
}

li.status_1 {
  list-style-image: url("/img/check_mark.png");
}

li.status_2 {
  list-style-image: url("/img/x_mark.png");
}

li.add-modification {
  list-style-image: url("/img/plus_sign.png");
}

#leftside ul {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

#leftside ol {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

#leftside ul a, #leftside ul a:visited {
  color: #ee7600;
}

#leftside h2 {
  font-family: 'Roboto', sans-serif;
}

#leftside h3 {
  font-family: 'Roboto', sans-serif;
}

#leftside h4 {
  font-family: 'Roboto', sans-serif;
}

#leftside h5 {
  font-family: 'Roboto', sans-serif;
}

#leftside h6 {
  font-family: 'Roboto', sans-serif;
}
