h2 {
  margin-top: 0;
}

#main li a, #main li a:visited {
  color: #424141;
  padding: 0;
  background-color: inherit;;
  font-family: 'Roboto Condensed', sans-serif;
}

#subject-menu {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
  list-style-position: inside;
  list-style-type: none;
}

#subject-menu li:before {
  content: '\2022';
  margin-right: 5px;
}

#subject-menu li.mandatory {
  color: #ffb938;
}

.notes-list li {
  list-style-image: url('/img/check-mark.png');
}

li.incomplete {
  list-style-image: url('/img/exclamation-mark.png');
}

li.empty {
  list-style-image: url('/img/empty-set.png');
}
