#subject_menu {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
  list-style-position: inside;
}

#subject_menu {
  list-style-type: none;
}

#subject_menu li:before {
  content: "\2022";
  margin-right: 5px;
}

#subject_menu li.mandatory {
  color: #ffb938;
}

.notes-list li {
  list-style-image: url("/img/check_mark.png");
  line-height: 1.5;
}

li.incomplete {
  list-style-image: url("/img/exclamation_mark.png");
}

li.empty {
  list-style-image: url("/img/empty_set.png");
}

.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}
