/*input.login {
  margin-bottom: 5px;
  width: 150px;
}*/

.dashboard-item {
  display: inline-block;
  width: 240px;
  height: 300px;
  padding: 10px;
  text-align: center;
}

.dashboard-item p {
  text-align: center;
}
