@media (max-width: 1000px) {

  body {
    font-size: 1em;
  }

  div, section {
    box-sizing: border-box;
  }

  nav {
    height: 8vh;
    line-height: 8vh;
  }

  nav ul {
    height: 8vh;
  }

  nav li {
    height: 8vh;
  }

  nav li ul {
    top: 8vh;
  }

  nav li:hover ul {
    top: 8vh;
  }

  nav ul li {
    height: 8vh;
  }

  nav ul a {
    height: 8vh;
    padding: 0 2vh;
  }

  .nav_sub ul li {
    height: 6vh;
    line-height: 6vh;
  }

  .nav_sub a {
    height: 6vh;
  }

  #searchbox {
    border-width: 2px;
    height: 15px;
    margin-top: 17px;
    padding: 0px 0px 0px 17px;
    width: 103px;
  }

  #wrapper {
    margin: 8vh auto auto auto;
    width: 100%;
  }

  #location {
    height: 30px;
    line-height: 30px;
    margin: 10px auto;
    padding-left: 20px;
    width: auto;
    box-sizing: border-box;
  }

  #upload_button {
    height: 30px;
    line-height: 30px;
    margin: 10px auto;
    padding-right: 20px;
    width: auto;
  }

  #main {
    border: 3px solid #d7d7d7;
    padding: 20px;
    width: 100%;
  }

  footer {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  blockquote {
    padding: 10px;
  }

  blockquote p {
    margin: 0px;
  }

  input, select, textarea {
    border: 2px solid #d7d7d7;
  }

  input {
    width: 200px;
  }

  input.submit {
    border-radius: 3px;
    margin-top: 5px;
  }

  select {
    width: 200px;
  }

  textarea {
    height: 28vh;
    margin-top: 5px;
    width: 100%;
  }

  .article-meta {
    font-size: 0.7em;
    margin: 16px auto;
  }

  img {
    max-width: 100%;
  }

  hr {
    height: 1px;
    margin: 16px auto;
    width: 98%;
  }

  .horizontal-ad {
    width: 100%;
    margin: 10px auto;
  }

  .vertical-ad {
    width: 160px;
    height: 600px;
  }

  span.top-notice {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  span.success {
    border: 2px solid #009900;
  }

  span.success:before {
    margin-right: 10px;
  }

  span.error {
    border: 2px solid #990000;
  }

  span.error:before {
    margin-right: 10px;
  }

  span.notice {
    border: 2px solid #ffb938;
  }

  span.notice:before {
    margin-right: 10px;
  }

}
