@media (max-width: 1000px) {

  nav {
    height: auto;
  }

  #menu-wrapper {
    border-top: 1px solid #fff;
    display: none;
    margin: 8vh 0 0 0;
    padding: 0;
    text-align: left;
    width: 100%;
  }

  nav ul {
    line-height: 8vh;
  }

  nav ul li {
    display: block;
    padding: 0.5vh 0;
  }

  nav ul li:hover ul {
    display: none;
  }

  nav ul li a {
    padding: 0 2vh;
    width: 100%;
  }

  #mobile-icons {
    display: inline;
    float: left;
    height: 8vh;
    margin: 0;
    padding: 0;
    text-align: left;
    width: auto;
  }

  #mobile-icons a:hover, #more-mobile-icons a:hover {
    background-color: transparent;
  }

  #mobile-icons img {
    height: 8vh;
    padding: 1vh;
  }

  #search-form {
    display: none;
  }

  #dropdown-toggle {
    cursor: pointer;
    display: inline;
    float: right;
    height: 8vh;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-align: right;
  }

  #dropdown-toggle img, #more-mobile-icons img {
    height: 8vh;
    padding: 1vh;
  }

  #more-mobile-icons {
    display: block;
  }

  #wrapper {
    margin: 8vh auto auto auto;
    width: 100%;
  }

  #location {
    height: auto;
    line-height: 1.5em;
    margin: 10px auto;
    padding: 0 20px;
    width: 100%;
    text-align: left;
  }

  #desktop-buttons {
    display: none;
  }

  #main {
    border: 0px;
    padding: 2vh;
    width: 100%;
    text-align: center;
  }

  footer {
    margin: 2vh auto;
  }

  blockquote {
    padding: 1vh;
  }

  input, select {
    width: 50%;
  }

  textarea {
    height: 50vh;
    width: 100%;
  }

  .anchor {
    top: -9vh;
  }

  .top-notice {
    padding: 2vh 0.5vh;
    width: 100%;
  }

  .success:before, .error:before, .notice:before {
    margin-right: 1vh;
  }

  #go-top-desktop {
    z-index: -1;
    visibility: hidden;
  }

}
