@media (max-width: 1000px) {

  #main {
    background-color: #dedede;
    padding: 0;
  }

  #leftside {
    background-color: #ffffff;
    border-width: 0px;
    padding: 2vh;
    width: 100%;
  }

  #leftside h2 {
    text-align: center;
  }

  #leftside .article-meta {
    text-align: left;
  }

  #rightside {
    padding: 0;
    width: 100%;
  }

  #events-container, #notes-container, .fb-page {
    background-color: #ffffff;
    margin-top: 2vh;
    padding: 2.5vh;
    width: 100%;
  }

  #events-container p {
    text-align: center;
  }

  ul {
    text-align: left;
  }

}
