@media (max-width: 1000px) {

  #main {
    background-color: #dedede;
    padding: 0;
  }

  #leftside {
    background-color: #ffffff;
    border-width: 0px;
    padding: 2vh;
    width: 100%;
    text-align: left;
  }

  p {
    text-indent: 1vh;
  }

  #footnotes {
    margin: 4vh auto 0 auto;
  }

  #rightside {
    border-width: 0px;
    padding: 0;
    width: 100%;
  }

  #rightside p {
    text-align: center;
  }

  #collection, #modifications, .vertical-ad, #comments {
    background-color: #ffffff;
    margin-top: 2vh;
    padding: 2.5vh;
    width: 100%;
  }

  #comments h2 {
    margin-top: 0;
  }

}
