html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dedede;
  color: #35586E;
  text-align: center;
  font-family: 'Roboto';
}

img {
  max-width: 100%;
}

a, a:visited {
  color: #35586E;
  text-decoration: none;
}
#homeimage{
  float: left;
  margin-left: 10px;
}
nav {
  margin: auto;
  height: 50px;
  background-color: #123952;
  font-size: 24px;
  vertical-align: middle;
  color: #dedede;
  border-bottom: 3px solid #d7d7d7;
}
nav a, nav a:visited{
  color: #dedede;
}

nav ul {
  list-style-type: none;

  width: auto;
  margin: auto;
}

nav li {
  display: inline;
  height: 50px;
  vertical-align: middle;
  margin: 0 10px;
}

#main {
  background-color: #fff;
  text-align: left;
  margin: auto;
  width: 1000px;
  border: 3px solid #d7d7d7;
  padding: 10px;
}

h1 {
  margin-top: 0px;
}

code{
  border: 3px solid #d7d7d7;
}