body {
  background-color: #dedede;
  color: #000000;
  text-align: center;
  font-family: 'Arial';
}

img {
  max-width: 100%;
}

a, a:visited {
  color: #000000;
}

nav {
  margin: auto;
}

nav ul {
  list-style-type: none;
  background-color: #eeeeee;
  width: auto;
  margin: auto;
}

nav li {
  display: inline;
  border: 1px solid black;
}

#main {
  background-color: #eeeeee;
  text-align: left;
}
