{% extends 'admin/index.html' %}

{% block content %}

<h1>Kategóriák szerkesztése</h1>

<p>Kategória törléséhez hagyd a nevét üresen!</p>

<table>
<tr><th>Id</th><th>Név</th></tr>
<tr>
  <form action='index.php?p=categories_admin' method='post'>
  <td>új</td>
  <td><input type='text' name='name' autofocus required></td>
  <td><input type='submit' name='addnew' value='Hozzáadás' class='submit'></td>
</form>
</tr>
<form action='index.php?p=categories_admin' method='post' id='list_categories_form'>

{% for category in categories %}
  <tr>
  <td>{{ category.id }}</td>
  <td><input type='text' value='{{ category.name }}' name='{{ category.id }}name'></td>
  </tr>
{% endfor %}

</form>
</table>
<input type='submit' value='Frissítés' name='update' class='submit' form='list_categories_form'>

{% endblock %}
