{% extends 'admin/index.html' %}

{% block content %}

<h1>Kategóriák szerkesztése</h1>


<p>Kategória törléséhez hagyd a nevét üresen</p>

<table>
<tr><th>Id</th><th>Név</th></tr>
<tr>
  <form action='categories_admin.php' method='post'>
  <td>új</td>
  <td><input type='text' name='name' required></td>
  <td><input type='submit' name='addnew' value='Hozzáadás' class='submit'></td>
</form>
</tr>
<form action='categories_admin.php' method='post'>
{% for category in categories %}
  <tr>
  <td>{{ category.id }}</td>
  <td><input type='text' value='{{ category.name }}' name='{{ category.id }}name' required></td>
  <td>
  	{% if loop.last %}
      <input type='submit' value='Frissítés' name='update' class='submit'>
    {% endif %}
  </td>
  </tr>
{% endfor %}
</form>
</table>
{% endblock %}
