{% extends 'admin/index.html' %}

{% block content %}

<h1>Események szerkesztése</h1>

{% if action == 'add' %}

  {% if status == 'form' %}

    <form action='events_admin.php?action=add' method='post'>
    <input type='text' name='name' placeholder='Név'>
    <br>
    Kezdés: <input type='datetime-local' name='startdate' value='{{ current_dt }}'>
    <br>
    Vég: <input type='datetime-local' name='enddate' value='{{ current_dt }}'>
    <br>
    <input type='submit' name='submit' class='submit'>
    </form>

  {% else %}

    <p>Sikeres mentés!</p>

  {% endif %}

{% endif %}

{% if action == 'edit' %}

  {% if status == 'form' %}

  {% else %}

    <p>Sikeres mentés!</p>

  {% endif %}

{% endif %}

{% if status == 'list' %}

  <a href='events_admin.php?action=add'>új hozzáadása</a>

  <ul>

  </ul>

{% endif %}

{% endblock %}
