{% extends 'admin/index.html' %}

{% block content %}

<h1>Események szerkesztése</h1>

{% if action == 'add' %}

  <form action='events_admin.php?action=add' method='post'>
  <input type='text' name='name' placeholder='Név' required>
  <br>
  Kezdés: <input type='datetime-local' name='startdate' value='{{ current_dt }}' required>
  <br>
  Vég: <input type='datetime-local' name='enddate' value='{{ current_dt }}' required>
  <br>
  <input type='submit' name='submit' class='submit'>
  </form>

{% endif %}

{% if action == 'edit' %}

  <form action='events_admin.php?action=edit&amp;id={{ eventdata.id }}' method='post'>
  <input type='text' name='name' placeholder='Név' value='{{ eventdata.name }}' required>
  <br>
  Kezdés: <input type='datetime-local' name='startdate' value='{{ eventdata.startdate }}' required>
  <br>
  Vég: <input type='datetime-local' name='enddate' value='{{ eventdata.enddate }}' required>
  <br>
  <input type='submit' name='submit' class='submit'>
  </form>

{% endif %}

{% if status == 'list' %}

  <a href='events_admin.php?action=add'>új hozzáadása</a>

  <ul>

  {% for event in events %}
    <li><a href='events_admin.php?action=edit&amp;id={{ event.id }}'>{{ event.name }}</li>
  {% endfor %}

  </ul>

{% endif %}

{% endblock %}
