{% extends 'admin/index.html' %}

{% block content %}

<h1>Események szerkesztése</h1>

{% if action == 'add' %}

  <form action='index.php?p=events_admin&amp;action=add' method='post'>
  <table>
    <tr>
      <td>
        Név:
      </td>
      <td>
        <input type='text' name='name' placeholder='Név' required>
      </td>
    </tr>
    <tr>
      <td>
        Kezdés:
      </td>
      <td>
        <input type='datetime-local' name='startdate' value='{{ current_dt }}' required>
      </td>
    </tr>
    <tr>
      <td>
        Vég:
      </td>
      <td>
        <input type='datetime-local' name='enddate' value='{{ current_dt }}' required>
      </td>
    </tr>
  </table>
  <input type='submit' name='submit' class='submit'>
  </form>

{% endif %}

{% if action == 'edit' %}

  <form action='index.php?p=events_admin&amp;action=edit&amp;id={{ eventdata.id }}' method='post'>
  <table>
    <tr>
      <td>
        Név:
      </td>
      <td>
        <input type='text' name='name' placeholder='Név' value='{{ eventdata.name }}' required>
      </td>
    </tr>
    <tr>
      <td>
        Kezdés:
      </td>
      <td>
        <input type='datetime-local' name='startdate' value='{{ eventdata.startdate }}' required>
      </td>
    </tr>
    <tr>
      <td>
        Vég:
      </td>
      <td>
        <input type='datetime-local' name='enddate' value='{{ eventdata.enddate }}' required>
      </td>
    </tr>
  </table>
  <span class='delete-box'><input type='checkbox' style='width: auto;' name='delete'> TÖRLÉS</span>
  <input type='submit' name='submit' class='submit'>
  </form>

{% endif %}

{% if mode == 'list' %}

  <a href='index.php?p=events_admin&amp;action=add'>új hozzáadása</a>

  <table>
    <tr>
      <th>
        Név
      </th>
      <th>
        Kezdés
      </th>
      <th>
        Vég
      </th>
    </tr>
  {% for event in events %}
    <tr>
      <td>
      <a href='index.php?p=events_admin&amp;action=edit&amp;id={{ event.id }}'>{{ event.name }}</a>
      </td>
      <td>
        {{ event.startdate }}
      </td>
      <td>
        {{ event.enddate }}
      </td>
    </tr>
  {% endfor %}
  </table>

{% endif %}

{% endblock %}
