{% extends 'admin/index.html' %}

{% block content %}

<h1>Visszajelzések</h1>

{% if status == 'all' %}

  <table>

  {% for feedback in feedbackarray %}
    <tr>
      <td><a href='index.php?p=feedback_admin&amp;id={{ feedback.id }}'>{{ feedback.title }}</a></td>
      <td>{{ feedback.date }}</td>
      <td>{% if feedback.isnew %}<img src='/img/exclamation_mark.png' alt=''>{% else %}<img src='/img/check_mark.png' alt=''>{% endif %}</td>
    </tr>
  {% endfor %}

  </table>

{% else %}

  <h2>{{ feedbackdata.title }} - {{ feedbackdata.date }}</h2>
  <p>{{ feedbackdata.text }}</p>

{% endif %}

{% endblock %}
