<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'>
  <link rel='stylesheet' type='text/css' href='/css/admin.css'>
  <link href='//fonts.googleapis.com/css?family=Roboto&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <title>erettsegik.hu admin</title>
</head>
<body>
<nav>
<ul>
<li><a href='user_admin.php'>Felhasználók</a></li>
<li><a href='news_admin.php'>Hírek</a></li>
<li><a href='modifications_admin.php'>Javaslatok</a></li>
<li><a href='notes_admin.php'>Jegyzetek</a></li>
<li><a href='categories_admin.php'>Kategóriák</a></li>
<li><a href='subjects_admin.php'>Tárgyak</a></li>
<li><a href='feedback_admin.php'>Visszajelzések</a></li>
<li><a href='/' class='unique'>Vissza az oldalra</a></li>
</ul>
</nav>
<div id='main'>
{% block content %}

Valami.

{% endblock %}
</div>
</body>
</html>
