<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'>
  <title>erettsegik.hu</title>
</head>
<body>
<ul>
<li><a href='news_admin.php'>Hírek</a></li>
<li><a href='modifications_admin.php'>Javaslatok</a></li>
<li><a href='notes_admin.php'>Jegyzetek</a></li>
<li><a href='categories_admin.php'>Kategóriák</a></li>
<li><a href='subjects_admin.php'>Tárgyak</a></li>
<li><a href='feedback_admin.php'>Visszajelzések</a></li>
<li><a href='/?p=login&amp;action=logout'>Kijelentkezés</a></li>
</ul>
{% block content %}
{% endblock %}
</body>
</html>
