<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'>
  <link rel='stylesheet' type='text/css' href='/css/admin.css'>
  <link href='//fonts.googleapis.com/css?family=Roboto+Condensed|Roboto&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <title>erettsegik.hu admin</title>
</head>
<body>

<nav>
<ul>
  {% for item in index_var.menu %}
    {% if index_var.user_authority >= item.clearance %}
      <li><a href='{{ item.url }}'>{{ item.name }}</a></li>
    {% endif %}
  {% endfor %}
  <li><a href='/' class='unique'>Vissza az oldalra</a></li>
</ul>
</nav>

{% if status == 'error' or status == 'success' or status == 'notice' %}
<span class='top-notice {{ status }}' onclick='this.style.display = "none";'>{{ message }}</span>
{% endif %}

<div id='main'>
{% block content %}

{% endblock %}
</div>

</body>
</html>
