{% extends 'admin/index.html' %}

{% block content %}

<h1>Javaslatok</h1>

{% if status == 'all' %}

  <table>

  {% for modification in modifications %}
  <tr>
    <td><a href='modifications_admin.php?id={{ modification.id }}'>{{ modification.title }}</a></td>
    <td>{{ modification.date }}</td>
  </tr>
  {% endfor %}

  </table>

{% endif %}

{% if status == 'one' %}

  <h2>{{ modificationdata.title }}</h2>

  <span class='article-meta'>
    Tétel címe: <a href='notes_admin.php?id={{ notedata.id }}&action=edit'>{{ notedata.title | raw }}</a>
    {% if modification.comment != '' %}
    <br>beküldő megjegyzése: {{ modificationdata.comment }}
    {% endif %}
    <br>
    beküldve: {{ modificationdata.date }}
  </span>

  <br>

  <div class='modification-container'><h3>Eredeti:</h3><p>{{ modificationdata.start_text }}<span class='difference-original'>{{ modificationdata.old_text }}</span>{{ modificationdata.end_text }}</p></div>

  <div class='modification-container'><h3>Módosított:</h3><p>{{ modificationdata.start_text }}<span class='difference-modified'>{{ modificationdata.new_text }}</span>{{ modificationdata.end_text }}</p></div>

  <br style='clear: both;'>

  <form method='post' action='modifications_admin.php?id={{ modificationdata.id }}'>

  <select name='status'>
    <option value='0' {% if modificationdata.status == 0 %} selected {% endif %}>Jóváhagyásra vár</option>
    <option value='1' {% if modificationdata.status == 1 %} selected {% endif %}>Elfogadva</option>
    <option value='2' {% if modificationdata.status == 2 %} selected {% endif %}>Elutasítva</option>
  </select>

  <input type='text' placeholder='tanári válasz' name='reply' value='{{ modificationdata.reply }}'>
  <input type='submit' name='submit' class='submit'>

  </form>

  <p>Fontos: a jegyzetek egyelőre nem módosulnak automatikusan, a változtatásokat kézzel kell
  <a href='notes_admin.php?id={{ notedata.id }}&action=edit'>ITT</a> végrehajtani.</p>

{% endif %}

{% endblock %}
