{% extends 'admin/index.html' %}

{% block content %}

<h1>Hírek szerkesztése</h1>

{% if action == 'add' %}

  <form action='news_admin.php?action=add' method='post'>
  <input type='text' name='title' placeholder='Cím' required>
  <br>
  <textarea name='text' placeholder='Szöveg' rows='50' cols='150' required></textarea>
  <br>
  <input type='checkbox' name='live' style='width: auto;'> élő
  <br>
  <input type='submit' name='submit' class='submit'>
  </form>

{% endif %}

{% if action == 'edit' %}

  <form action='news_admin.php?action=edit&amp;id={{ newsdata.id }}' method='post'>
  <input type='text' name='title' placeholder='cím' value='{{ newsdata.title }}' required>
  <br>
  <textarea name='text' placeholder='szöveg' rows='50' cols='150' required>{{ newsdata.text | raw }}</textarea>
  <br>
  <input type='checkbox' style='width: auto;' name='live' {% if newsdata.live %} checked {% endif %}> élő
  <br>
  <input type='submit' name='submit' class='submit'>
  </form>

{% endif %}

{% if status == 'list' %}

  <a href='news_admin.php?action=add'>új hozzáadása</a>

  <ul>

  {% for new in news %}
    <li><a href='news_admin.php?action=edit&amp;id={{ new.id }}'>{{ new.title }}</a> - {{ new.live }}</li>
  {% endfor %}

  </ul>

{% endif %}

{% endblock %}
