{% extends 'admin/index.html' %}

{% block content %}

<h1>Jegyzetek szerkesztése{% if selectedsubject.id != 0 %}: {{ selectedsubject.name }}{% endif %}</h1>

{% if action == 'add' %}

  <form action='index.php?p=notes_admin&amp;action=add' method='post' onsubmit='allowLeaving();'>

    {% include 'note-meta.html' %}
    <hr>
    {% include 'note-editor.html' %}

  <input type='checkbox' name='live' style='width: auto;' id='live-checkbox'>
  <label for='live-checkbox'>élő</label>
  <br>
  <input type='checkbox' name='incomplete' style='width: auto;' id='incomplete-checkbox'>
  <label for='incomplete-checkbox'>félkész</label>
  <br>
  <input type='submit' name='submit' class='submit'>
  </form>

  <script src='//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js'></script>
  <script type='text/JavaScript' src='/js/main.js'></script>

{% endif %}

{% if action == 'edit' %}

  <form action='index.php?p=notes_admin&amp;action=edit&amp;id={{ saved.id }}' method='post' onsubmit='allowLeaving();'>

    {% include 'note-editor.html' %}

  <input type='checkbox' style='width: auto;' name='live' id= 'live-checkbox'{% if saved.live %} checked {% endif %}>
  <label for='live-checkbox'>élő</label>
  <br>
  <input type='checkbox' style='width: auto;' name='incomplete' id='incomplete-checkbox'{% if saved.incomplete %} checked {% endif %}>
  <label for='incomplete-checkbox'>félkész</label>
  <span class='delete-box'><input type='checkbox' style='width: auto;' name='delete' id='delete-checkbox'> <label for='delete-checkbox'>TÖRLÉS</a></span>
  <br style='clear: both;'>
  <input type='submit' name='submit' class='submit'>
  </form>

  <script src='//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.2.0/katex.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js'></script>
  <script type='text/JavaScript' src='/js/main.js'></script>

{% endif %}

{% if mode == 'notelist' %}

  <a href='index.php?p=notes_admin&amp;action=add&amp;subjectid={{ selectedsubject.id }}'>új hozzáadása</a>

  <form action='index.php?p=notes_admin&amp;subjectid={{ selectedsubject.id }}' method='post'>

  {% for note in notelist %}
    <h2 id='{{ note.name }}'>{{ note.name }}</h2>
    <table>
    <tr>
    <th>Rendezési szám</th>
    <th>Jegyzet neve</th>
    <th>Élő státusz</th>
    <th>Kész státusz</th>
    </tr>

    {% for item in note.data %}
      <tr>
        <td><input type='number' name='{{ item.id }}order' value='{{ item.ordernumber }}' class='ordernumber' required></td>
        <td><a href='index.php?p=notes_admin&amp;action=edit&amp;id={{ item.id }}'>{{ item.title }}</a></td>
        <td><img src='{% if item.live %}/img/check-mark.png{% else %}/img/x-mark.png{% endif %}'></td>
        <td><img src='{% if item.incomplete == 0 %}/img/check-mark.png{% else %}{% if item.incomplete == 1 %}/img/exclamation-mark.png{% else %}/img/empty-set.png{% endif %}{% endif %}'></td>
      </tr>
    {% endfor %}

    </table>
  {% endfor %}

  <input type='submit' name='updateorder' class='submit' value='Frissítés'>
  </form>

{% endif %}

{% if mode == 'subjectlist' %}

  <a href='index.php?p=notes_admin&amp;action=add'>új hozzáadása</a>

  <ul>

  {% for subject in subjects %}
    <li><a href='index.php?p=notes_admin&amp;subjectid={{ subject.id }}'>{{ subject.name }}</a> -- <span class='article-meta'>|{% for category in categories %} <a href='index.php?p=notes_admin&amp;subjectid={{ subject.id }}#{{ category.name }}'>{{ category.name }}</a> |{% endfor %}</span></li>
  {% endfor %}

  </ul>

  A legutóbb módosult félkész jegyzetek:

  <ul>
  {% for note in recentnotes %}

    <li><a href='index.php?p=notes_admin&amp;action=edit&amp;id={{ note.id }}'>{{ note.title }}</a> - {{ note.subject }}: {{ note.category }} ({{ note.updatedate }})</li>

  {% endfor %}
  </ul>

{% endif %}

{% endblock %}
