{% extends 'admin/index.html' %}

{% block content %}

<h1>Jegyzetek szerkesztése{% if selectedsubject.id != 0 %}: {{ selectedsubject.name }}{% endif %}</h1>

{% if action == 'add' %}

  <form action='notes_admin.php?action=add' method='post'>
  <input type='text' name='title' placeholder='Cím' class='shorter' required>
  <br>
  <select name='subjectid' required>

    {% for subject in subjectlist %}
      <option value='{{ subject.id }}' {% if subject.id == selectedsubject.id %} selected {% endif %}>
      {{ subject.name }}
      </option>
    {% endfor %}

  </select>
  <br>
  <select name='category' required>

    {% for category in categories %}
      <option value='{{ category.id }}'>{{ category.name }}</option>
    {% endfor %}

  </select>
  <br>
  <button type='button' class='edit-button' onclick='emphasis();'>kiemelés</button>
  <button type='button' class='edit-button' onclick='header();'>alcím</button>
  <button type='button' class='edit-button' onclick='image();'>kép</button>
  <button type='button' class='edit-button' onclick='list("ordered");'>számozott lista</button>
  <button type='button' class='edit-button' onclick='list("unordered");'>felsorolás</button>
  <button type='button' class='edit-button' onclick='' id='notes-help'>Segítség</button>
  <br style='clear: both;'>
  <textarea name='text' placeholder='Szöveg' rows='50' cols='150' id='note-txt' required></textarea>
  <br>
  <input type='checkbox' name='live' style='width: auto;'> élő
  <br>
  <input type='checkbox' name='incomplete' style='width: auto;'> félkész
  <br>
  <input type='submit' name='submit' class='submit'>
  </form>
  <button id='preview'>előnézet</button>
  <div id='preview-target'></div>

  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script type='text/JavaScript' src='/js/editor.js'></script>
  <script type='text/JavaScript' src='/js/main.js'></script>

{% endif %}

{% if action == 'edit' %}

  <form action='notes_admin.php?action=edit&amp;id={{ notedata.id }}' method='post'>
  <input type='text' name='title' placeholder='cím' value='{{ notedata.title }}' class='shorter' required>
  <br>
  <select name='subjectid' required>

    {% for subject in subjectlist %}
      {% if subject.id == notedata.subjectid %}
        <option value='{{ subject.id }}' selected>{{ subject.name }}</option>
      {% else %}
        <option value='{{ subject.id }}'>{{ subject.name }}</option>
      {% endif %}
    {% endfor %}

  </select>
  <br>
  <select name='category' required>

    {% for category in categories %}
      <option value='{{ category.id }}' {% if notedata.category == category.id %} selected {% endif %}>
      {{ category.name }}
      </option>
    {% endfor %}

  </select>
  <br>
  <button type='button' class='edit-button' onclick='emphasis();'>kiemelés</button>
  <button type='button' class='edit-button' onclick='header();'>alcím</button>
  <button type='button' class='edit-button' onclick='image();'>kép</button>
  <button type='button' class='edit-button' onclick='list("ordered");'>számozott lista</button>
  <button type='button' class='edit-button' onclick='list("unordered");'>felsorolás</button>
  <button type='button' class='edit-button' onclick='' id='notes-help'>Segítség</button>
  <br style='clear: both;'>
  <textarea name='text' placeholder='Szöveg' rows='40' cols='150' id='note-txt' required>{{ notedata.text | raw }}</textarea>
  <br>
  <input type='checkbox' style='width: auto;' name='live' {% if notedata.live %} checked {% endif %}> élő
  <br>
  <input type='checkbox' style='width: auto;' name='incomplete' {% if notedata.incomplete %} checked {% endif %}> félkész
  <span class='delete-box'><input type='checkbox' style='width: auto;' name='delete'> TÖRLÉS</span>
  <br style='clear: both;'>
  <input type='submit' name='submit' class='submit'>
  </form>
  <button id='preview'>előnézet</button>
  <div id='preview-target'></div>

  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script type='text/JavaScript' src='/js/editor.js'></script>
  <script type='text/JavaScript' src='/js/main.js'></script>

{% endif %}

{% if status == 'notelist' %}

  <a href='notes_admin.php?action=add&amp;subjectid={{ selectedsubject.id }}'>új hozzáadása</a>

  <form action='notes_admin.php?subjectid={{ selectedsubject.id }}' method='post'>

  {% for note in notelist %}
    <h2>{{ note.name }}</h2>
    <table>
    <tr>
    <th>Rendezési szám</th>
    <th>Jegyzet neve</th>
    <th>Élő státusz</th>
    <th>Kész státusz</th>
    </tr>

    {% for item in note.data %}
      <tr>
        <td><input type='number' name='{{ item.id }}order' value='{{ item.ordernumber }}' class='ordernumber' required></td>
        <td><a href='notes_admin.php?action=edit&amp;id={{ item.id }}'>{{ item.title }}</a></td>
        <td><img src='{% if item.live %}/img/check_mark.png{% else %}/img/x_mark.png{% endif %}'></td>
        <td><img src='{% if item.incomplete %}/img/x_mark.png{% else %}/img/check_mark.png{% endif %}'></td>
      </tr>
    {% endfor %}

    </table>
  {% endfor %}

  <input type='submit' name='updateorder' class='submit' value='Frissítés'>
  </form>

{% endif %}

{% if status == 'subjectlist' %}

  <a href='notes_admin.php?action=add'>új hozzáadása</a>

  <ul>

  {% for subject in subjectlist %}
    <li><a href='notes_admin.php?subjectid={{ subject.id }}'>{{ subject.name }}</a></li>
  {% endfor %}

  </ul>

{% endif %}

{% endblock %}
