{% extends 'admin/index.html' %}

{% block content %}
<h1>Tárgyak szerkesztése</h1>

<form action='subjects_admin.php' method='post'>
<p>Tantárgy törléséhez hagyd a nevét üresen</p>
<table border>
<tr><th>Név</th><th>Kötelező</th></tr>

{% for subject in subjects %}
<tr>
<td><input type='text' value='{{ subject.name }}' name='{{ subject.id }}name'></td>
<td style='text-align: center;'>
<input type='checkbox' name='{{ subject.id }}mandatory' {% if subject.mandatory %} checked {% endif %} >
</td>
</tr>
{% endfor %}

</table>
<p>
<input type='submit' value='Frissítés' name='update'>
</p>
</form>
<hr>
<form action='subjects_admin.php' method='post'>
<input type='text' name='name' autofocus>
<input type='checkbox' name='mandatory'>
<input type='submit' name='addnew' value='Hozzáadás'>
</form>
</ul>
{% endblock %}
