{% extends 'admin/index.html' %}

{% block content %}
<h1>Tárgyak szerkesztése</h1>

<form action='subjects_admin.php' method='post'>
<p>Tantárgy törléséhez hagyd a nevét üresen</p>
<p>Kategória: lásd a kategóriák menüpontban</p>
<table border>
<tr><th>Név</th><th>Kategória</th></tr>

{% for subject in subjects %}
<tr>
<td><input type='text' value='{{ subject.name }}' name='{{ subject.id }}name'></td>
<td><input type='number' value='{{ subject.category }}' name='{{ subject.id }}category'></td>
</tr>
{% endfor %}

</table>
<p>
<input type='submit' value='Frissítés' name='update'>
</p>
</form>
<hr>
<form action='subjects_admin.php' method='post'>
<input type='text' name='name'>
<input type='number' name='category' value='1'>
<input type='submit' name='addnew' value='Hozzáadás'>
</form>
</ul>
{% endblock %}
