{% extends 'admin/index.html' %}

{% block content %}
<h1>Felhasználók szerkesztése</h1>

<form action='user_admin.php' method='post'>
<p>Jelszóváltoztatáshoz írd be a jelszó mezőbe</p>
<table>
<tr><th>Id</th><th>Név</th><th>Jogosultság</th><th>Jelszó</th></tr>

{% for user in users %}
<tr>
<td>{{ user.id }}</td>
<td><input type='text' value='{{ user.name }}' name='{{ user.id }}name'></td>
<td><input type='number' value='{{ user.authority }}' name='{{ user.id }}authority'></td>
<td><input type='text' value='' name='{{ user.id }}password'></td>
</tr>
{% endfor %}

</table>
<p>
<input type='submit' value='Frissítés' name='update' class='submit'>
</p>
</form>
<hr>
<form action='user_admin.php' method='post'>
<input type='text' name='name'>
<input type='number' name='authority'>
<input type='password' name='password'>
<br>
<input type='submit' name='addnew' value='Hozzáadás' class='submit'>
</form>
</ul>
{% endblock %}
