{% extends 'index.html' %}

{% block content %}

<h1>Miért?</h1>

<p>Az erettsegik.hu-t azért hoztuk létre, hogy legyen egy olyan forrás
az érettségire való felkészüléshez, aminek tartalma folyamatosan ellenőrzött,
és igazodik a követelményrendszerhez.</p>
<p>Bár mindent megteszünk azért, hogy a jegyzetek kifogásolhatatlanak legyenek,
nem tudjuk garantálni, hogy a tartalmuk megfelel a valóságnak, és nem képezi
jogtalanul más szellemi tulajdonát. Kérjük, hogy ha ilyen problémád van,
azt jelezd vagy javaslatként az adott jegyzetnél, vagy küldj nekünk
egy visszajelzést.</p>
<p>Ha szeretnél hozzánk csatlakozni, és segíteni a jegyzetek és javaslatok
ellenőrzésében, írj nekünk egy facebook üzenetet (esetleg egy visszajelzést,
ha ez nem lehetséges valamilyen okból), és felvesszük veled a kapcsolatot.</p>

<hr>
<h1>Kik vagyunk?</h1>
<h3>Fejlesztők</h3>
<div id='person-cont-left'><img src='http://pic-zoom.com/media/images/picture-wallpaper.jpg' alt='Marcicica' id='img-circular-left'>
<div id='person-txt-left'><p>Bognár Márton<br>
Budapesti Műszaki Egyetem/Mérnökinformatikus<br>
+36-70-123-4444</p></div></div><br style="clear:both">
<div id='person-cont-right'><img src='http://pic-zoom.com/media/images/picture-wallpaper.jpg' alt='Marcicica' id='img-circular-right'>
<div id='person-txt-right'><p>Tuskó Gergely<br>
Budapesti Műszaki Egyetem/Mérnökinformatikus<br>
+36-70-123-4444</p></div></div><br style="clear:both">
<h3>Tanáraink</h3><br style="clear:both">
<div id='person-cont-left'><img src='http://pic-zoom.com/media/images/picture-wallpaper.jpg' alt='Marcicica' id='img-circular-left'>
<div id='person-txt-left'><p>Bognár Márton<br>
Budapesti Műszaki Egyetem/Mérnökinformatikus<br>
+36-70-123-4444</p></div></div><br style="clear:both">
<div id='person-cont-right'><img src='http://pic-zoom.com/media/images/picture-wallpaper.jpg' alt='Marcicica' id='img-circular-right'>
<div id='person-txt-right'><p>Tuskó Gergely<br>
Budapesti Műszaki Egyetem/Mérnökinformatikus<br>
+36-70-123-4444</p></div></div><br style="clear:both">
<div id='person-cont-left'><img src='http://pic-zoom.com/media/images/picture-wallpaper.jpg' alt='Marcicica' id='img-circular-left'>
<div id='person-txt-left'><p>Bognár Márton<br>
Budapesti Műszaki Egyetem/Mérnökinformatikus<br>
+36-70-123-4444</p></div></div><br style="clear:both">
<div id='person-cont-right'><img src='http://pic-zoom.com/media/images/picture-wallpaper.jpg' alt='Marcicica' id='img-circular-right'>
<div id='person-txt-right'><p>Tuskó Gergely<br>
Budapesti Műszaki Egyetem/Mérnökinformatikus<br>
+36-70-123-4444</p></div></div><br style="clear:both">
<div id='person-cont-left'><img src='http://pic-zoom.com/media/images/picture-wallpaper.jpg' alt='Marcicica' id='img-circular-left'>
<div id='person-txt-left'><p>Bognár Márton<br>
Budapesti Műszaki Egyetem/Mérnökinformatikus<br>
+36-70-123-4444</p></div></div><br style="clear:both">
<div id='person-cont-right'><img src='http://pic-zoom.com/media/images/picture-wallpaper.jpg' alt='Marcicica' id='img-circular-right'>
<div id='person-txt-right'><p>Tuskó Gergely<br>
Budapesti Műszaki Egyetem/Mérnökinformatikus<br>
+36-70-123-4444</p></div></div><br style="clear:both">
<div id='person-cont-left'><img src='http://pic-zoom.com/media/images/picture-wallpaper.jpg' alt='Marcicica' id='img-circular-left'>
<div id='person-txt-left'><p>Bognár Márton<br>
Budapesti Műszaki Egyetem/Mérnökinformatikus<br>
+36-70-123-4444</p></div></div><br style="clear:both">
<div id='person-cont-right'><img src='http://pic-zoom.com/media/images/picture-wallpaper.jpg' alt='Marcicica' id='img-circular-right'>
<div id='person-txt-right'><p>Tuskó Gergely<br>
Budapesti Műszaki Egyetem/Mérnökinformatikus<br>
+36-70-123-4444</p></div></div><br style="clear:both">
<hr>
<h2>Elérhetőségek</h2>

<ul>
  <li>E-mail: <a href='mailto:info@erettsegik.hu'>info@erettsegik.hu</a></li>
  <li>Facebook: <a href='//facebook.com/erettsegik'>erettsegik</a></li>
</ul>

{% endblock %}
