{% extends 'index.html' %}

{% block content %}

<p>Az erettsegik.hu-t azért hoztuk létre, hogy legyen egy olyan forrás
az érettségire való felkészüléshez, aminek tartalma folyamatosan ellenőrzött,
és igazodik a követelményrendszerhez.</p>
<p>Bár mindent megteszünk azért, hogy a jegyzetek kifogásolhatatlanak legyenek,
nem tudjuk garantálni, hogy a tartalmuk megfelel a valóságnak, és nem képezi
jogtalanul más szellemi tulajdonát. Kérjük, hogy ha ilyen problémád van,
azt jelezd vagy javaslatként az adott jegyzetnél, vagy küldj nekünk
egy visszajelzést.</p>
<p>Ha szeretnél hozzánk csatlakozni, és segíteni a jegyzetek és javaslatok
ellenőrzésében, írj nekünk egy facebook üzenetet (esetleg egy visszajelzést,
ha ez nem lehetséges valamilyen okból), és felvesszük veled a kapcsolatot.</p>

<hr>
<h2>Fejlesztők</h2>

<img src='http://i.imgur.com/E46pMtl.png' alt='Bognár Márton' class='img-circular left-image'>
  <div class='person-txt left-txt'>
    <p><span class='name'>Bognár Márton</span><br>
    Budapesti Műszaki Egyetem<br>
    mérnökinformatikus<br>
    <a href='mailto:bognarmarci@gmail.com'>bognarmarci@gmail.com</a></p>
</div>

<img src='http://i.imgur.com/pVuNPYP.png' alt='Tuskó Gergely' class='img-circular right-image'>
  <div class='person-txt right-txt'>
    <p><span class='name'>Tuskó Gergely</span><br>
    Budapesti Műszaki Egyetem<br>
    mérnökinformatikus<br>
    <a href='mailto:t.gergely95@gmail.com'>t.gergely95@gmail.com</a></p>
</div><br style='clear:both'>
<hr>

<h2>Tanárok</h2>

<img src='http://i.imgur.com/mHMhrjN.png' alt='Madas Pál' class='img-circular left-image'>
  <div class='person-txt left-txt'>
    <p><span class='name'>Madas Pál</span><br>
    Városmajori Gimnázium<br>
    matematika/informatika<br></p>
</div>

<img src='http://i.imgur.com/sEfaIqB.png' alt='Végh Anna' class='img-circular right-image'>
  <div class='person-txt right-txt'>
    <p><span class='name'>Végh Anna</span><br>
    Városmajori Gimnázium<br>
    történelem/angol</p>
</div>

<br style='clear:both'>

<img src='http://i.imgur.com/Rv6nxdt.png' alt='Vértes Judit' class='img-circular left-image'>
  <div class='person-txt left-txt'>
    <p><span class='name'>Vértes Judit</span><br>
    Városmajori Gimnázium<br>
    magyar nyelv és irodalom/angol</p>
</div>

<br style='clear:both'>

<h2>Elérhetőségek</h2>
<ul>
  <li>E-mail: <a href='mailto:info@erettsegik.hu'>info@erettsegik.hu</a></li>
  <li>Facebook: <a href='//facebook.com/erettsegik'>erettsegik</a></li>
</ul>

{% endblock %}
