{% extends 'index.html' %}

{% block content %}

<h1>Rólunk</h1>

<p>Az erettsegik.hu-t azért hoztuk létre, hogy legyen egy olyan forrás az érettségire való felkészüléshez, aminek tartalma folyamatosan ellenőrzött, és igazodik a követelményrendszerhez.</p>
<p>Bár mindent megteszünk azért, hogy a jegyzetek kifogásolhatatlanak legyenek, nem tudjuk garantálni, hogy a tartalmuk megfelel a valóságnak, és nem képezi jogtalanul más szellemi tulajdonát. Kérjük, hogy ha ilyen problémád van, azt jelezd vagy javaslatként az adott jegyzetnél, vagy küldj nekünk egy visszajelzést.</p>
<p>Ha szeretnél hozzánk csatlakozni, és segíteni a jegyzetek és javaslatok ellenőrzésében, írj nekünk egy facebook üzenetet (esetleg egy visszajelzést, ha ez nem lehetséges valamilyen okból), és felvesszük veled a kapcsolatot.</p>
<hr>

{% endblock %}
