{% extends 'index.html' %}

{% block stylesheets %}
{% endblock %}

{% block content %}

{% if mode == 'list' %}

  {% if notes is empty %}

    Még egy jegyzet sincs a gyűjteményedben. Adj hozzá egyet a jegyzet címe melletti gomb megnyomásával!

  {% else %}

    <ul>
    {% for note in notes %}
      <li class='learned-{{ note.learned }}'><a href='/note/{{ note.id }}'>{{ note.title }}</a></li>
    {% endfor %}
    </ul>

  {% endif %}

{% else %}

  <p>Gyűjteményt <a href='/user/login/'>bejelentkezés</a> után hozhatsz létre, ezzel könnyebbé téve azt, hogy csak azokat a jegyzeteket lásd, amikre tényleg kíváncsi vagy.</p>

{% endif %}

{% endblock %}
