{% extends 'index.html' %}

{% block stylesheets %}
<link rel='stylesheet' type='text/css' href='/css/events.css'>
{% endblock %}

{% block content %}

<div class='event-column'>
{% if past_events|length == 0 %}
  <p class='article-meta'>Nincs egy elmúlt esemény sem.</p>
{% else %}
  {% for event in past_events %}
    <div class='event-container'>
        <h4>{{ event.name }}</h4>
        <span class='article-meta' onclick='this.innerHTML = "{{ event.startdate }} → {{ event.enddate }}"'>
          {{ event.startdatetext }} kezdődött - {{ event.enddatetext }} ért véget
        </span>
    </div>
    <div class='progress-container'>
    <hr class='progress-meter current' style='width: 100%;'>
    </div>
  {% endfor %}
{% endif %}
</div>

<div class='event-column'>
{% if current_events|length == 0 %}
  <p class='article-meta'>Nincs egy aktuális esemény sem.</p>
{% else %}
  {% for event in current_events %}
    <div class='event-container'>
        <h4>{{ event.name }}</h4>
        <span class='article-meta' onclick='this.innerHTML = "{{ event.startdate }} → {{ event.enddate }}"'>
          {{ event.startdatetext }} kezdődött - {{ event.enddatetext }}
        </span>
    </div>
    <div class='progress-container'>
    <hr class='progress-meter current' style='width: {{ event.progress }}%;'>
    </div>
  {% endfor %}
{% endif %}
</div>

<div class='event-column'>
{% if upcoming_events|length == 0 %}
  <p class='article-meta'>Nincs egy közeledő esemény sem.</p>
{% else %}
  {% for event in upcoming_events %}
    <div class='event-container'>
        <h4>{{ event.name }}</h4>
        <span class='article-meta' onclick='this.innerHTML = "{{ event.startdate }} → {{ event.enddate }}"'>
          {{ event.startdatetext }} a kezdésig - {{ event.enddatetext }} a végééig
        </span>
    </div>
    <div class='progress-container'>
    </div>
  {% endfor %}
{% endif %}
</div>

<br style='clear: both;'>

<p class='article-meta' style='text-align: center;'>Pontos időpontokért kattints a szürke szövegre!</p>

{% endblock %}
