{% extends 'index.html' %}

{% block content %}

<h1>Gyakran ismételt kérdések</h1>

<div class='faq-box'>
<h3>Nem találom az oldalon a jegyzetet, amit keresek.</h3>
<div class='answer'>
  <p>Az oldalon a saját jegyzeteinken kívül csak azok láthatók, melyeket a látogatónk küldtek be, tehát közel sem teljes a gyűjtemény. Ha neked megvan az egyik, nekünk még hiányzó jegyzet, akkor kérünk, küldd be azt, ha nincs, akkor sajnos meg kell várnod, amíg valaki más be nem küldi, vagy ki kell dolgoznod magadnak (mely esetben később nagyon fogunk örülni, ha azt beküldöd nekünk).</p>
</div>
</div>

<div class='faq-box'>
<h3>Mit tegyek, ha a témabeli jegyzetben nincs benne minden, amit tudnom kéne?</h3>
<div class='answer'>
  <p>A középszintű érettségik követelménye minden iskolában változó lehet, ha van olyan rész a te jegyzetedben, ami az oldalon levőből hiányzik, akkor azt javaslatként beküldheted, a végső célunk az, hogy a teljes követelményrendszert lefedjük. Ugyanez igaz az emelt szintű jegyzetekre is, bár ott sokszor egyértelműbb, hogy mit kell tudni, ennek ellenére is szívesen várjuk az ezekhez érkező javaslatokat.</p>
</div>
</div>

<div class='faq-box'>
<h3>Már van az oldalon a témában jegyzet, de szerintem az enyém jobb.</h3>
<div class='answer'>
  <p>Nehéz dolog megállapítani, hogy objektívan két jegyzet közül melyik a jobb, érthetőbb. Örülnénk, ha inkább javaslatot küldenétek be, melyben a már az oldalon lévő jegyzet kevésbé érthető részeit átfogalmazzátok, vagy helyettesítitek a ti verziótokkal, esetleg még nem szereplő információkkal bővítitek, de ha minden kötél szakad, akkor be is küldhettek újként már létező címmel jegyzetet, és megnézzük, hogy mit tehetünk.</p>
</div>
</div>

<div class='faq-box'>
<h3>Látom, hogy be lehet jelentkezni az oldalra, de regisztrálni nem tudok.</h3>
<div class='answer'>
  <p>Jelenleg csak a tanároknak van felhasználójuk, ezzel tudják elérni a jegyzetek szerkesztőfelületét, de tervezünk majd mindenki számára nyílt regisztrációt. Ez azonban csak azután nyer értelmet, hogy kidolgozzuk a funkciókat, melyeket az átlagos felhasználóknak tervezünk (ilyenek például a saját jegyzetgyűjtemény összeállítása, saját határidők beállítása, és a tanulási folyamat haladásának követése). Ezeket szeretnénk már az őszi érettségi időszak előtt bevezetni, az első ezzel kapcsolatos hír majd valamikor a nyár közepén-végén várható.</p>
</div>
</div>

<div class='faq-box'>
<h3>Hogyan tudok nektek segíteni?</h3>
<div class='answer'>
  <p>A legnagyobb segítség az, ha az oldalon levő jegyzetállomány mennyiségét és minőségét növeled. Itt nem is kizárólag a kiadott szóbeli tételek kidolgozására gondolunk, lehetőség van segédanyagok beküldésére is, melyekkel hasznos tudást és tippeket adhatsz át az érettségivel kapcsolatban. Ilyen lehet például egy programozás feladat kidolgozása, egy tipikus matekpélda levezetése, a novellaelemzés struktúrájának ismertetése, társalgási fordulatok leírása a szóbelikhez.</p>
</div>
</div>

<p>Ha további kérdésed van, írj nekünk, akár <a href='mailto:info@erettsegik.hu'>e-mailben</a>, akár <a href='//facebook.com/erettsegik'>facebookon</a>, akár <a href='/feedback/'>visszajelzésben</a>.</p>

{% endblock %}
