<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' type='text/css' href='base.css'>
  <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'>
  <title>erettsegik.hu</title>
</head>
<body>
  <nav>
  <ul>
    <li><a href='?p=welcome'>[erettsegik.hu]</a></li>
    {% for subject in subjects %}
      <li><a href='?p=subject&amp;id={{ subject.id }}'>{{ subject.name }}</a></li>
    {% endfor %}
    <li><a href='?p=feedback'>feedback</a></li>
  </ul>
  </nav>
  <section id='main'>
    {% block content %}
    {% endblock %}
  </section>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54150979-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
