<!doctype html>
<html>
<head>
  <link href='//fonts.googleapis.com/css?family=Roboto+Condensed|Roboto&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <meta charset='utf-8'>
  <meta name='description' content='Érettségi feladatsorok és kidolgozott tételek, melyeket bárki szerkeszthet.'>
  <meta name='robots' content='index, follow'>
  <link rel='canonical' href='{{ index_var.canonical }}'>
  <link rel='stylesheet' type='text/css' href='/css/main.css'>
  <link rel='stylesheet' type='text/css' href='/css/mobile/main.css'>
  {% if index_var.css != '' %}
    <link rel='stylesheet' type='text/css' href='/css/{{ index_var.css }}.css'>
    <link rel='stylesheet' type='text/css' href='/css/mobile/{{ index_var.css }}.css'>
  {% endif %}
  <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'>
  <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css'>
  <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css'>
  <link rel='icon' sizes='192x192' href='/touch-icon-192x192.png'>
  <link rel='apple-touch-icon-precomposed' sizes='180x180' href='/apple-touch-icon-180x180-precomposed.png'>
  <link rel='apple-touch-icon-precomposed' sizes='152x152' href='/apple-touch-icon-152x152-precomposed.png'>
  <link rel='apple-touch-icon-precomposed' sizes='144x144' href='/apple-touch-icon-144x144-precomposed.png'>
  <link rel='apple-touch-icon-precomposed' sizes='120x120' href='/apple-touch-icon-120x120-precomposed.png'>
  <link rel='apple-touch-icon-precomposed' sizes='114x114' href='/apple-touch-icon-114x114-precomposed.png'>
  <link rel='apple-touch-icon-precomposed' sizes='76x76' href='/apple-touch-icon-76x76-precomposed.png'>
  <link rel='apple-touch-icon-precomposed' sizes='72x72' href='/apple-touch-icon-72x72-precomposed.png'>
  <link rel='apple-touch-icon-precomposed' href='/apple-touch-icon-precomposed.png'>
<title>{{ index_var.title }} - erettsegik.hu</title>
</head>
<body>
  <nav class='nav_main'>
    <form id='search_form' onsubmit='searchRedirect(event);'>
      <input type='search' id='searchbox' pattern='.{3,}' title='Legalább három karakter' required>
    </form>
  <ul>
    {% for subject in index_var.subjects %}
      <li><a href='/subjects/{{ subject.id }}/' class='nav_item'>{{ subject.name }}</a>
        <div class='nav_content'>
          <div class='nav_sub'>
            <ul>
            {% for category in subject.categories %}
              <li><a href='/subjects/{{ subject.id }}/#{{ category.name }}'>{{ category.name }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </li>
    {% endfor %}
    <li class='unique'><a href='/subjects/' class='unique nav_item'>Összes tárgy</a>
      <div class='nav_content'>
        <div class='nav_sub'>
            <ul>
            {% for subject in index_var.othersubjects %}
              <li><a href='/subjects/{{ subject.id }}/'>{{ subject.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
      <div>
    </li>
  </ul>
  </nav>
  <div id='wrapper'>
  <section id='location'>
    {% for element in index_var.location %}
      <a href='{{ element.url }}'>{{ element.name }}</a>
      {% if not loop.last %}
        &#x2192;
      {% endif %}
    {% endfor %}
  </section>
  <div id='upload_button'><a href='/note/add/'>Jegyzet beküldése</a></div>
  <br style='clear: both;'>
  {% if status == 'error' or status == 'success' or status == 'notice' %}
  <span class='top-notice {{ status }}' onclick='this.style.display = "none";'>{{ message }}</span>
  {% endif %}
  <section id='main'>
    {% block content %}
    {% endblock %}
  </section>
  <div class='horizontal-ad'>
    <script async src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'></script>
    <!-- erettsegik responsive -->
    <ins class='adsbygoogle'
         style='display:block'
         data-ad-client='ca-pub-5210002685428807'
         data-ad-slot='5383691773'
         data-ad-format='auto'></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <footer>
    <a href='/feedback/'>visszajelzés</a> |
    <a href='/user_manage/'> {% if index_var.username == '' %} tanári bejelentkezés {% else %} felhasználói oldal {% endif %} </a>
    | <a href='/about/'>rólunk</a>
    | <a href='/faq/'>GYIK</a>
  </footer>
  </div>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.2.0/katex.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js'></script>
  <script type='text/javascript' src='/js/main.js'></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54150979-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
