{% extends 'index.html' %}

{% block stylesheets %}
<link rel='stylesheet' type='text/css' href='/css/modification.css'>
<link rel='stylesheet' type='text/css' href='/css/note-editor.css'>
<link rel='stylesheet' type='text/css' href='/css/mobile/modification.css'>
<link rel='stylesheet' type='text/css' href='/css/mobile/note-editor.css'>
{% endblock %}

{% block content %}

{% if action == 'add' %}

  <h1>{{ note.title }}</h1>

  <form action='/modification/add/{{ note.id }}/' method='post'>
  <input type='text' name='title' placeholder='Javaslat címe' value='{{ saved.title }}' required>
  <br>
  <input type='hidden' name='original_text' readonly required>
  {% include 'note-editor.html' %}
  <br>
  <input type='text' name='comment' placeholder='Megjegyzés' value='{{ saved.comment }}'><br>
  <div class='g-recaptcha' data-sitekey='6Ld-cQcTAAAAAJuNjF971FjiSG-UY0MOn4ULUx5g'></div>
  <br>
  <input type='submit' name='submit' class='submit' value='Elküldés'>
  </form>

  <script src='https://www.google.com/recaptcha/api.js'></script>

{% else %}

  <style>
    #modification-title::before {
      {% if modification.status == 0 %}
        content: url(/img/pending.png);
      {% endif %}

      {% if modification.status == 1 %}
        content: url(/img/merged.png);
      {% endif %}

      {% if modification.status == 2 %}
        content: url(/img/rejected.png);
      {% endif %}
    }
  </style>

  <h1 id='modification-title'>{{ modification.title }}</h1>

  <span class='article-meta'>
    Tétel címe: {{ note.title }}

    {% if modification.comment != '' %}
      <br>Beküldő megjegyzése: {{ modification.comment }}
    {% endif %}

    <br>
    Beküldve: {{ modification.date }}

    {% if modification.updatedate %}
      <br>
      Frissítve: {{ modification.updatedate }}
    {% endif %}

    {% if modification.reply != '' %}
      <br>Tanár megjegyzése: {{ modification.reply }}
    {% endif %}

  </span>
  <br>

  <div class='modification-container'><h3>Eredeti:</h3><p>{{ modification.start_text }}<span class='difference-original'>{{ modification.old_text }}</span>{{ modification.end_text }}</p></div>

  <div class='modification-container'><h3>Módosított:</h3><p>{{ modification.start_text }}<span class='difference-modified'>{{ modification.new_text }}</span>{{ modification.end_text }}</p></div>

  <h2>Megjegyzések</h2>
  <p>Hamarosan!</p>

{% endif %}

{% endblock %}
