{% extends 'index.html' %}

{% block content %}
{% if action == 'add' %}

    <h1>Új javaslat hozzáadása a következő jegyzethez: {{ note.title }}</h1>

    {% if status == 'form' %}

        <form id='modification_form' action='?p=modification&amp;action=add&amp;noteid={{ note.id }}' method='post'>
        <input type='text' name='title' placeholder='Javaslat címe' required><br>
        <div class='modification_form_txt_ctnr'>Eredeti szöveg:<br>
        <textarea name='original_text' readonly>{{ note.text }}</textarea></div>
        <div class='modification_form_txt_ctnr'>Új szöveg:<br>
        <textarea name='new_text' required>{{ note.text }}</textarea></div><br>
        <input type='text' name='comment' placeholder='Megjegyzés'><br>
        <input type='submit' name='submit'>
        </form>

    {% else %}

    Siker!

    {% endif %}

{% else %}

    <h1>Tétel címe: {{ note.title }}</h1>

    <h2>{{ modification.title }}</h2>

    {{ modification.original_text }}

    <!-- this needs to be removed! -->
    {% autoescape false %} {{ diff }} {% endautoescape %}

    {% if modification.comment != '' %} beküldő megjegyzése: {{ modification.comment }} {% endif %}

    {% if modification.status == 1 %}
    <p>Ez a javaslat el lett fogadva.</p>
    {% endif %}

    {% if modification.status == 2 %}
    <p>Ez a javaslat el lett utasítva.</p>
    {% endif %}

{% endif %}

{% endblock %}
