{% extends 'index.html' %}

{% block content %}
{% if action == 'add' %}

    <h1>Új javaslat hozzáadása a következő jegyzethez: {{ note.title }}</h1>

    {% if status == 'form' %}

        <form id='modification_form' action='?p=modification&action=add&noteid={{ note.id }}' method='post'>
        <input type='text' name='title' placeholder='Javaslat címe'><br>
        <div class='modification_form_txt_ctnr'>Eredeti szöveg:<br>
        <textarea name='original_text' readonly>{{ note.text }}</textarea></div>
        <div class='modification_form_txt_ctnr'>Új szöveg:<br>
        <textarea name='new_text'>{{ note.text }}</textarea></div><br>
        <input type='text' name='comment' placeholder='Megjegyzés'><br>
        <input type='submit' name='submit'>
        </form>

    {% else %}

    Siker!

    {% endif %}

{% else %}

    <h1>Tétel címe: {{ note.title }}</h1>

    <h2>{{ modification.title }}</h2>

{% endif %}

{% endblock %}
