{% extends 'index.html' %}

{% block content %}
<div id='leftside'>
<h1>Hírek</h1>
<section>
{% for new in news %}
    <h2>{{ new.title }}</h2>
    {{ new.text | markdown }}
    {{ new.date }}
    {% if new.updatedate %}
    frissítve: {{ new.updatedate }}
    {% endif %}
{% endfor %}
</section>
</div>
<div id='rightside'>
<img src='img/logo.png'>
<iframe src='//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Ferettsegik&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35&amp;colorscheme=dark'>
</iframe>
</div>
<br style='clear: both;'>
{% endblock %}
