{% extends 'index.html' %}

{% block content %}

<div id='leftside'>
<h1>Hírek</h1>
<section>

{% for new in news %}
  <h2>{{ new.title }}</h2>
  {{ new.text | markdown }}
  <div class='article-meta'>
  {{ new.creator }} &#8226; {{ new.date }}

  {% if new.updatedate %}
    <br>Legutóbb frissítve: {{ new.updatedate }}
  {% endif %}

  {% if not loop.last %}
    <hr>
  {% endif %}

  </div>
{% endfor %}

</section>
</div>
<div id='rightside'>
<div id='events-container'>
  <h2>Események</h2>

  {% if current_events|length != 0 %}
    {% for event in current_events %}
      <div class='event-container'>
          <h4>{{ event.name }}</h4>
          <span class='article-meta' onclick='this.innerHTML = "{{ event.startdate }} → {{ event.enddate }}"'>
            {{ event.startdatetext }} kezdődött - {{ event.enddatetext }}
          </span>
      </div>
      <div class='progress-container'>
      <hr class='progress-meter current' style='width: {{ event.progress }}%;'>
      </div>
    {% endfor %}
  {% endif %}

  {% if upcoming_events|length != 0 %}
    {% for event in upcoming_events %}
      <div class='event-container'>
          <h4>{{ event.name }}</h4>
          <span class='article-meta' onclick='this.innerHTML = "{{ event.startdate }} → {{ event.enddate }}"'>
            {{ event.startdatetext }} a kezdésig
          </span>
      </div>
      <div class='progress-container'>
      </div>
    {% endfor %}
  {% endif %}

  <p><a href='/events/'>Összes megtekintése</a></p>
</div>
<hr>
<div id='notes-container'>
  <h2>Nemrég módosult jegyzetek</h2>

  {% for note in recentnotes %}

  <a href='/note/{{ note.id }}'><h4>{{ note.title }}</h4></a>
  <div class='article-meta'><a href='/subjects/{{ note.subjectid }}/'>{{ note.subject }}</a> &#8226; <a href='/subjects/{{ note.subjectid }}/#{{ note.category }}'>{{ note.category }}</a></div>

  {% endfor %}

</div>
<hr>
<iframe class='facebook' src='//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Ferettsegik&amp;width=230&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false' scrolling='no' frameborder='0' style='border:none; overflow:hidden; width:230px; height:258px;' allowTransparency='true'></iframe>
</div>
<br style='clear: both;'>

{% endblock %}
