{% extends 'index.html' %}

{% block content %}

{% if mode == 'display' %}

  <div id='leftside'>
    <h1>{{ note.title }}</h1>
    {% include 'note_text.html' %}
    <p class='article-meta'>Legutóbb frissítve: {{ note.updatedate }}</p>

    </div>
    <div id='rightside'>
    <h2>Javaslatok</h2>
    <ul class='modifications-list'>

    {% for modification in modifications %}
        <li class='status_{{ modification.status }}'>
          <a href='/modification/{{ modification.id }}/' title='{{ modification.comment }}'>{{ modification.title }}</a>
        </li>
    {% endfor %}

    <li class='add-modification'>
      <a href='/modification/add/{{ note.id }}/'>új javaslat</a>
    </li>
  </ul>
  </div>
  <br style='clear: both;'>
  <h2>Megjegyzések</h2>
    <div id='disqus_thread'></div>
    <script type='text/javascript'>
      var disqus_shortname = 'erettsegikhu';
      var disqus_identifier = 'note-{{ note.id }}{% if production == false %}-dev{% endif %}';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
  <noscript>Engedélyezned kell a JavaScriptet a <a href='http://disqus.com/?ref_noscript'>Disqus kommentek</a> megjelenítéséhez.</noscript>

{% else %}

  <h1>Jegyzet beküldése</h1>

  <form action='/note/add/' method='post'>
  <table>
    <tr>
      <td>Cím:</td>
      <td><input type='text' name='title' class='shorter form-element' value='{{ saved.title }}' required></td>
    </tr>
    <tr>
      <td>Tantárgy:</td>
      <td>
        <select name='subjectid' required>
          {% for subject in subjects %}
          <option value='{{ subject.id }}'{% if subject.id == saved.subjectid %} selected{% endif %}>{{ subject.name }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td>Kategória:</td>
      <td>
        <select name='category' required>
          {% for category in categories %}
            <option value='{{ category.id }}'{% if category.id == saved.category %} selected{% endif %}>{{ category.name }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td>E-mail:</td>
      <td>
        <input type='email' name='email' class='shorter form-element' value='{{ saved.email }}'>
      </td>
    </tr>
  </table>
  <button type='button' class='edit-button' onclick='emphasis();'>kiemelés</button>
  <button type='button' class='edit-button' onclick='header();'>alcím</button>
  <button type='button' class='edit-button' onclick='image();'>kép</button>
  <button type='button' class='edit-button' onclick='list("ordered");'>számozott lista</button>
  <button type='button' class='edit-button' onclick='list("unordered");'>felsorolás</button>
  <button type='button' class='edit-button' onclick='togglehelp();' id='notes-help'>Segítség</button>
  <br style='clear: both;'>
  <div id='note-help' style='display: none;'>
    {% markdown %}
    ### Általános

    Kérjük, hogy jegyzetet csak akkor küldjetek be, ha az a saját szellemi terméketek, azaz nem más engedély nélkül feltöltött jegyzete, vagy egy könyvből egy az egyben kimásolt részlet.
    Jegyzetet nem csak ezen az űrlapon keresztül küldhettek be nekünk, hanem például a [Facebook oldalunkon](https://facebook.com/erettsegik) keresztül is (lehetőleg üzenetben, csatolva).
    Ha maradtok ennél a megoldásnál, akkor a jegyzetet át kell írnotok markdown formátumba, amelyről a következőkben olvashattok.

    ### A markdownról

    A Markdown egy leírónyelv, melyet John Gruber fejlesztett ki, hogy egyszerűen és szépen lehessen szöveget formázni olyan módon, hogy aztán az könnyen HTML-be, vagy PDF-be konvertálható.
    A teljes specifikáció [itt](http://daringfireball.net/projects/markdown) megtalálható, de a legfontosabb elemek a szerkesztőnkkel is előállíthatók (megjegyezni sem nehéz őket).

    ### A szerkesztőről

    A jegyzetírást megkönnyítendő írtunk egy kis szerkesztőt, mely lényegében a fenti pár gombot jelenti. Működése felettébb egyszerű, először ki kell jelölni a szövegmezőben a kívánt szövegrészletet (felsorolás esetén akár több sort is), majd valamelyik gombra kattintani. (A szerkesztő javascriptet használ, egyes bővítmények esetleg akadályozhatják a működését).
    {% endmarkdown %}
  </div>
  <textarea name='text' id='note-txt' placeholder='Szöveg' required>{{ saved.text }}</textarea>
  <br>
  <input type='submit' name='submit' class='submit' value='Elküldés'>
  </form>

  <script type='text/JavaScript' src='/js/editor.js'></script>

{% endif %}

{% endblock %}
