{% extends 'index.html' %}

{% block content %}

    {% if status == 'addsubmit' %}
        Köszönjük a beküldést, reméljük a jegyzet hamarosan megjelenik az oldalon!
    {% endif %}

    {% if status == 'addform' %}

        <form action='?p=note&amp;action=add' method='post'>
        <input type='text' name='title' placeholder='cím'>
        <br>
        <select name='subjectid'>
            {% for subject in index_var.subjects %}
            <option value='{{ subject.id }}'>{{ subject.name }}</option>
            {% endfor %}
        </select>
        <br>
        <select name='category'>
            {% for category in categories %}
              <option value='{{ category.id }}'>{{ category.name }}</option>
            {% endfor %}
        </select>
        <br>
        <textarea name='text' placeholder='szöveg' rows='50' cols='150' style='width: auto; height: auto;'></textarea>
        <br>
        <input type='submit' name='submit'>
        </form>

    {% endif %}

    {% if status == 'display' %}

        <h1>{{ note.title }}</h1>
        {{ note.text | markdown }}

        <h2>Javaslatok</h2>
        {% if modifications | length == 0 %}
            <p>Nincsenek javaslatok.
            <a href='?p=modification&amp;action=add&amp;noteid={{ note.id }}'>Valami nem tetszik?</a></p>
        {% else %}
            {% for modification in modifications %}
                <div><a href='?p=modification&amp;id={{ modification.id }}'>{{ modification.title }}</a></div>
            {% endfor %}
        {% endif %}
        <h2>Megjegyzések</h2>
        <div id='disqus_thread'></div>
        <script type='text/javascript'>
            var disqus_shortname = 'erettsegikhu';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Engedélyezned kell a JavaScriptet a <a href='http://disqus.com/?ref_noscript'>Disqus kommentek</a> megjelenítéséhez.</noscript>

    {% endif %}

{% endblock %}
