{% extends 'index.html' %}

{% block stylesheets %}
<link rel='stylesheet' type='text/css' href='/css/search.css'>
{% endblock %}

{% block content %}

<form onsubmit='searchRedirect("main");' id='search-main' method='post'>
  <input type='search' id='mainsearch' value='{{ term }}' pattern='.{3,}' title='Legalább három karakter' required><br>
  <input type='checkbox' name='intitle' id='intitle'{% if intitle %} checked{% endif %}><label for='intitle'>Keresés címben</label><br>
  <input type='checkbox' name='intext' id='intext'{% if intext %} checked{% endif %}><label for='intext'>Keresés szövegben</label><br>
  <input type='submit' class='submit' value='Keresés'>
</form>

{% if mode == 'results' %}

  <div class='article-meta'>{{ resultcount }} találat a következőre: {{ term }}.</div>

  <hr>

  {% for result in results %}

  <a href='/note/{{ result.id }}'><h2 class='result-header'>{{ result.title }}</h2></a>
  <div class='article-meta'>{{ result.subject }} &#8226; {{ result.category }}</div>

  {% endfor %}

{% endif %}

{% endblock %}
