{% extends 'index.html' %}

{% block content %}

<h1>Keresés</h1>

<form onsubmit='searchRedirect("main");'>
  <input type='text' id='mainsearch' value='{{ term }}'>
  <input type='submit' class='submit' value='Keresés'>
</form>

{% if status == 'results' %}

  <div class='article-meta'>{{ resultcount }} találat a következőre: {{ term }}.</div>

  <hr>

  {% for result in results %}

  <a href='/note/{{ result.id }}'><h2 class='result-header'>{{ result.title }}</h2></a>
  <div class='article-meta'>{{ result.subject }} &#8226; {{ result.category }}</div>

  {% endfor %}

{% endif %}

{% endblock %}
