{% extends 'index.html' %}

{% block content %}

{% if mode == 'all' %}

  <h1>Összes tárgy</h1>

  <ul id='subject_menu'>

  {% for subject in allsubjects %}

    {% if subject.mandatory %}
      <li class='mandatory'><a href='/subjects/{{ subject.id }}/'>{{ subject.name }}</a></li>
    {% else %}
      <li><a href='/subjects/{{ subject.id }}/'>{{ subject.name }}</a></li>
    {% endif %}

  {% endfor %}

  </ul>

{% else %}

  <h1>{{ subject.name }}</h1>
  {% for category in categories %}
    <a class="anchor" id='{{ category.name }}'></a>
    <h2>{{ category.name }}</h2>
    <ul class='notes-list'>

    {% for note in category.data %}
      <li{% if note.incomplete %} class='incomplete'{% endif %}><a href='/note/{{ note.id }}/'>{{ note.title }}</a></li>
    {% endfor %}

    </ul>
  {% endfor %}

  {% if categories|length == 0 %}
    <p>Még egy jegyzet sincs ehhez a tárgyhoz. <a href='/note/add/'>Beküldesz egyet?</a></p>
  {% endif %}

{% endif %}

{% endblock %}
