{% extends 'index.html' %}

{% block content %}

{% if status == 'all' %}

    <h1>Összes tárgy.</h1>

    <ul id='subject_menu'>
    {% for subject in allsubjects %}
        <li><a href='?p=subject&amp;id={{ subject.id }}'>{{ subject.name }}</a></li>
    {% endfor %}
    </ul>

{% else %}

    <h1>{{ subject.name }}</h1>

    {% for category in categories %}
      <h2 id='{{ category.name }}'>{{ category.name }}</h2>
      <ul>
      {% for note in category.data %}
        <li><a href='?p=note&amp;id={{ note.id }}'>{{ note.title }}</a></li>
      {% endfor %}
      </ul>
    {% endfor %}

    {% for note in notes %}
        <a href='?p=note&amp;id={{ note.id }}'>{{ note.title }}</a>
    {% endfor %}

{% endif %}

{% endblock %}
