{% extends 'index.html' %}

{% block content %}

{% if status == 'loggedin' %}

  <h1>Felhasználói oldal</h1>

  <ul>
    <li><a href='/admin/index.php'>Tovább az admin felületre?</a></li>
    <li><a href='/user_manage/change_password/'>Jelszóváltoztatás?</a></li>
    <li><a href='/user_manage/logout/'>Kijelentkezés?</a></li>
  </ul>

{% endif %}

{% if status == 'change_password' %}

  <h1>Jelszóváltoztatás</h1>

  <form action='/user_manage/change_password/' method='post'>
  <input class='login' type='password' name='old_password' placeholder='régi jelszó'><br>
  <input class='login' type='password' name='new_password' placeholder='új jelszó'><br>
  <input type='submit' name='submit' class='submit' value='Elküldés'>
  </form>

{% endif %}

{% if status == 'form' or status == 'error' %}

  <h1>Bejelentkezés</h1>

  {% if status == 'error' %}
    ezekkel az adatokkal nem sikerült bejelentkezni.
  {% endif %}

  <form action='/user_manage/login/' method='post'>
  <input class='login' type='text' name='name' placeholder='Felhasználónév' required><br>
  <input class='login' type='password' name='password' placeholder='Jelszó' required><br>
  <input type='submit' name='submit' class='submit' value='Elküldés'>
  </form>

{% endif%}

{% if status == 'logout' %}
  Sikeresen kijelentkezett.
{% endif %}

{% endblock %}
