{% extends 'index.html' %}

{% block stylesheets %}
  <link rel='stylesheet' type='text/css' href='/css/user.css'>
  <link rel='stylesheet' type='text/css' href='/css/mobile/user.css'>
{% endblock %}

{% block content %}

{% if action == 'dashboard' %}

  {% if userdata.authority > 0 %}
  <a href='/admin/index.php' target='_blank'>
    <div class='dashboard-item'>
      <img src='/img/dashboard/admin.png'>
      <p>Adminisztráció</p>
    </div>
  </a>
  {% endif %}

  <a href='/collection/'>
    <div class='dashboard-item'>
      <img src='/img/dashboard/collection.png'>
      <p>Gyűjteményem</p>
    </div>
  </a>

  <a href='/mark-calculator/'>
    <div class='dashboard-item'>
      <img src='/img/dashboard/mark-calculator.png'>
      <p>Jegyszámító</p>
    </div>
  </a>

  <a href='/user/settings/'>
    <div class='dashboard-item'>
      <img src='/img/dashboard/settings.png'>
      <p>Beállítások</p>
    </div>
  </a>

  <a href='/user/logout/'>
    <div class='dashboard-item'>
      <img src='/img/dashboard/logout.png'>
      <p>Kijelentkezés</p>
    </div>
  </a>

{% endif %}

{% if action == 'settings' %}

  <form action='/user/settings/' method='post'>
    <input type='email' name='email' value='{{ userdata.email }}' placeholder='e-mail cím'><br>
    <fieldset>
      <legend>Csak ha jelszót szeretnél változtatani</legend>
      <input class='login' type='password' name='old_password' placeholder='régi jelszó'><br>
      <input class='login' type='password' name='new_password' placeholder='új jelszó'><br>
    </fieldset>
    <input type='submit' name='submit' class='submit' value='Elküldés'>
  </form>

{% endif %}

{% if action == 'login' %}

  <form action='/user/login/' method='post'>
    <h1>Bejelentkezés</h1>
    <input class='login' type='text' name='name' value='{{ saved.name }}' placeholder='Felhasználónév' required>
    <label alt='Felhasználónév' placeholder='Felhasználónév'></label>
    <input class='login' type='password' name='password' placeholder='Jelszó' required>
    <label alt='Jelszó' placeholder='Jelszó'></label>
    <input type='checkbox' name='remember'> Emlékezz<br>
    <p><input type='submit' name='submit' class='submit' value='Bejelentkezés'> <a href='/user/register/'>Regisztráció</a></p>
  </form>

{% endif %}

{% if action == 'register' %}

  <form action='/user/register/' method='post'>
    <h1>Regisztráció</h1>
    <input class='login' type='text' name='name' placeholder='Felhasználónév' value='{{ saved.name }}' required>
    <input class='login' type='email' name='email' placeholder='E-mail cím' value='{{ saved.email }}' required>
    <input class='login' type='password' name='password' placeholder='Jelszó' required>
    <input type='submit' name='submit' class='submit' value='Regisztráció'>
  </form>

{% endif %}

{% endblock %}
